---
title: עִברִית
permalink: /hebrew
---

<!DOCTYPE html>
<html id="splendid" lang="he">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>עִברִית</title>
		<meta name="description" content="אותיות האלפבית העברי">
		<meta name="author" content="Brandon Caples">

		{% if site.scripts.ga4 %}
			<!-- Google tag (gtag.js) -->
			<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.scripts.ga4 }}"></script>
			<script>
				window.dataLayer = window.dataLayer || [];
				function gtag(){dataLayer.push(arguments);}
				gtag('js', new Date());

				gtag('config', '{{ site.scripts.ga4 }}');
			</script>
		{% endif %}

		{% if site.scripts.gtm %}
			<!-- Google Tag Manager -->
			<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','{{ site.scripts.gtm }}');</script>
			<!-- End Google Tag Manager -->
		{% endif %}

		<!-- Squeaky Tracking Code -->
		<script>
			(function(s,q,e,a,u,k,y){
				s._sqSettings={site_id:'f94d0c0f-89b6-4cc0-a52c-e05932e7a59d'};
				u=q.getElementsByTagName('head')[0];
				k=q.createElement('script');
				k.src=e+s._sqSettings.site_id;
				u.appendChild(k);
			})(window,document,'https://cdn.squeaky.ai/g/0.4.0/script.js?');
		</script><script src="https://cdn.squeaky.ai/g/0.4.0/script.js?f94d0c0f-89b6-4cc0-a52c-e05932e7a59d"></script>
		
		<!-- Open Graph Tags -->
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://brandoncaples.com/">
		<meta property="og:title" content="עִברִית">
		<meta property="og:image" content="https://brandoncaples.com/assets/img/brandon_caples.jpg">
		<meta property="og:description" content="אותיות האלפבית העברי">

		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@caplesweb">
		<meta name="twitter:creator" content="@caplesweb">
		<meta name="twitter:creator:id" content="106212276">
		<meta property="twitter:domain" content="https://brandoncaples.com">
		<meta property="twitter:url" content="https://brandoncaples.com/">
		<meta name="twitter:title" content="עִברִית">
		<meta name="twitter:description" content="אותיות האלפבית העברי">
		<meta name="twitter:image" content="https://brandoncaples.com/assets/img/brandon_caples.jpg">
		<meta name="twitter:image:alt" content="Brandon Caples">

		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="/assets/styles/global/layout.css" media="all">
		<link rel="stylesheet" type="text/css" href="/assets/styles/global/syntax.css" media="all">
		<link rel="stylesheet" type="text/css" href="/assets/styles/main.css" media="all">
		<link rel="stylesheet" type="text/css" href="/assets/styles/global/responsive/sm.css" media="screen and (max-width: 599px)">
		<link rel="stylesheet" type="text/css" href="/assets/styles/global/responsive/md.css" media="screen and (min-width: 600px)">
		<link rel="stylesheet" type="text/css" href="/assets/styles/global/responsive/lg.css" media="screen and (min-width: 900px)">
		<link rel="stylesheet" type="text/css" href="/assets/styles/global/responsive/xl.css" media="screen and (min-width: 1200px)">

		<!--Favicon-->
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

		<!-- Canonical -->
		<link rel="canonical" href="https://brandoncaples.com/resume/">

		<!-- RSS -->
		<link rel="alternate" type="application/atom+xml" title="Brandon Caples" href="https://brandoncaples.com/feed.xml">

		<!-- KaTeX -->
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.3.0/katex.min.css">
		<script src="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.3.0/katex.min.js"></script>

		<!-- JavaScript -->
		<script type="text/javascript" async="" src="https://brandoncaples.com/assets/js/main.js"></script>
	</head>
	<body id="resume" class="justify-between">
		{% if site.scripts.gtm %}
			<!-- Google Tag Manager (noscript) -->
			<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.scripts.gtm }}"
			height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
			<!-- End Google Tag Manager (noscript) -->
		{% endif %}

		<!-- Hero Section : START -->
		<section class="hero-section bg-blue">
			<div>
				<div class="text-white sm:px-0 md:px-16 text-center">
					<h1>עִברִית</h1>
				</div>
			</div>
		</section>
		<!-- Hero Section : END -->

		<div class="print:w-25">
			<section id="letters" itemscope itemtype="https://schema.org/ItemList" class="pt-6 border-t-50 border-t-solid border-t-sand">
				<header class="mx-8 xl:mx-auto print:mx-0 mt-6 pb-0 text-black">
					<h2 itemprop="name">Aleph Bet</h2>
				</header>
				<div class="mx-8 xl:mx-auto print:mx-0 pb-6 lg:two-columns">
					<table>
						<thead class="print-only">
							<tr class="text-lg">
								<th scope="col">Name</th>
								<th scope="col">Hebrew letter</th>
								<th scope="col">Phonetic sound</th>
							</tr>
						</thead>
						<tbody>
							<tr class="text-lg">
								<td class="text-center md:text-left">Alef</td>
								<td class="serif text-3xl text-center">א</td>
								<td class="text-center md:text-left italic">a-</td>
							</tr>
							<tr class="text-lg">
								<td class="text-center md:text-left" rowspan="2">Bet</td>
								<td class="serif text-3xl text-center">בּ</td>
								<td class="text-center md:text-left italic">b-</td>
							</tr>
							<tr class="text-lg">
								<td class="serif text-3xl text-center">ב</td>
								<td class="text-center md:text-left italic">v-</td>
							</tr>
							<tr class="text-lg">
								<td class="text-center md:text-left" rowspan="2">Gimel</td>
								<td class="serif text-3xl text-center">ג</td>
								<td class="text-center md:text-left italic">gh-</td>
							</tr>
							<tr class="text-lg">
								<td class="serif text-3xl text-center">גּ</td>
								<td class="text-center md:text-left italic">g-</td>
							</tr>
							<tr class="text-lg">
								<td class="text-center md:text-left" rowspan="2">Dalet</td>
								<td class="serif text-3xl text-center">דּ</td>
								<td class="text-center md:text-left italic">d-</td>
							</tr>
							<tr class="text-lg">
								<td class="serif text-3xl text-center">ד</td>
								<td class="text-center md:text-left italic">th-</td>
							</tr>
							<tr class="text-lg">
								<td class="text-center md:text-left">He</td>
								<td class="serif text-3xl text-center">ה</td>
								<td class="text-center md:text-left italic">ha-</td>
							</tr>
							<tr class="text-lg">
								<td class="text-center md:text-left">Waw/Vav</td>
								<td class="serif text-3xl text-center">ו</td>
								<td class="text-center md:text-left italic">v-</td>
							</tr>
							<tr class="text-lg">
								<td class="text-center md:text-left">Zayin</td>
								<td class="serif text-3xl text-center">ז</td>
								<td class="text-center md:text-left italic">z-</td>
							</tr>
							<tr class="text-lg">
								<td class="text-center md:text-left">Chet</td>
								<td class="serif text-3xl text-center">ח</td>
								<td class="text-center md:text-left italic">kh-</td>
							</tr>
							<tr class="text-lg">
								<td class="text-center md:text-left">Tet</td>
								<td class="serif text-3xl text-center">ט</td>
								<td class="text-center md:text-left italic">t-</td>
							</tr>
							<tr class="text-lg">
								<td class="text-center md:text-left">Yod</td>
								<td class="serif text-3xl text-center">י</td>
								<td class="text-center md:text-left italic">y- / -i</td>
							</tr>
							<tr class="text-lg">
								<td class="text-center md:text-left" rowspan="2">Kaf</td>
								<td class="serif text-3xl text-center">כ</td>
								<td class="text-center md:text-left italic">-ch</td>
							</tr>
							<tr class="text-lg">
								<td class="serif text-3xl text-center">ך</td>
								<td class="text-center md:text-left italic">-ch</td>
							</tr>
							<tr class="text-lg">
								<td class="text-center md:text-left">Lamed</td>
								<td class="serif text-3xl text-center">ל</td>
								<td class="text-center md:text-left italic">l-</td>
							</tr>
							<tr class="text-lg">
								<td class="text-center md:text-left" rowspan="2">Mem</td>
								<td class="serif text-3xl text-center">מ</td>
								<td class="text-center md:text-left italic">m-</td>
							</tr>
							<tr class="text-lg">
								<td class="serif text-3xl text-center">ם</td>
								<td class="text-center md:text-left italic">-m</td>
							</tr>
							<tr class="text-lg">
								<td class="text-center md:text-left" rowspan="2">Nun</td>
								<td class="serif text-3xl text-center">נ</td>
								<td class="text-center md:text-left italic">n-</td>
							</tr>
							<tr class="text-lg">
								<td class="serif text-3xl text-center">ן</td>
								<td class="text-center md:text-left italic">-n</td>
							</tr>
							<tr class="text-lg">
								<td class="text-center md:text-left">Samech</td>
								<td class="serif text-3xl text-center">ס</td>
								<td class="text-center md:text-left italic">s-</td>
							</tr>
							<tr class="text-lg">
								<td class="text-center md:text-left">Ayin</td>
								<td class="serif text-3xl text-center">ע</td>
								<td class="text-center md:text-left italic">ah-</td>
							</tr>
							<tr class="text-lg">
								<td class="text-center md:text-left" rowspan="4">Pe</td>
								<td class="serif text-3xl text-center">פ</td>
								<td class="text-center md:text-left italic">f-</td>
							</tr>
							<tr class="text-lg">
								<td class="serif text-3xl text-center">פּ</td>
								<td class="text-center md:text-left italic">p-</td>
							</tr>
							<tr class="text-lg">
								<td class="serif text-3xl text-center">ף</td>
								<td class="text-center md:text-left italic">f-</td>
							</tr>
							<tr class="text-lg">
								<td class="serif text-3xl text-center">ףּ</td>
								<td class="text-center md:text-left italic">p-</td>
							</tr>
							<tr class="text-lg">
								<td class="text-center md:text-left" rowspan="2">Tsadi</td>
								<td class="serif text-3xl text-center">צ</td>
								<td class="text-center md:text-left italic">-ts</td>
							</tr>
							<tr class="text-lg">
								<td class="serif text-3xl text-center">ץ</td>
								<td class="text-center md:text-left italic">-ts</td>
							</tr>
							<tr class="text-lg">
								<td class="text-center md:text-left">Qof</td>
								<td class="serif text-3xl text-center">ק</td>
								<td class="text-center md:text-left italic">k-</td>
							</tr>
							<tr class="text-lg">
								<td class="text-center md:text-left">Resh</td>
								<td class="serif text-3xl text-center">ר</td>
								<td class="text-center md:text-left italic">r-</td>
							</tr>
							<tr class="text-lg">
								<td class="text-center md:text-left" rowspan="2">Shin</td>
								<td class="serif text-3xl text-center">שׁ</td>
								<td class="text-center md:text-left italic">sh-</td>
							</tr>
							<tr class="text-lg">
								<td class="serif text-3xl text-center">שׂ</td>
								<td class="text-center md:text-left italic">s-</td>
							</tr>
							<tr class="text-lg">
								<td class="text-center md:text-left" rowspan="2">Tav</td>
								<td class="serif text-3xl text-center">תּ</td>
								<td class="text-center md:text-left italic">t-</td>
							</tr>
							<tr class="text-lg">
								<td class="serif text-3xl text-center">ת</td>
								<td class="text-center md:text-left italic">th-</td>
							</tr>
						</tbody>
					</table>
				</div>
			</section>
		</div>
		<footer id="footer" itemscope itemtype="https://schema.org/WPFooter" class="bg-black text-white no-print">
			<div class="max-w-4 pt-16 px-6 pb-4 md:px-0">
				<ul role="navigation" aria-label="Footer" class="two-columns sm:w-full md:w-60">
					<li itemprop="name" role="menuitem">
						<a href="/about/">About</a>
					</li>
					<li itemprop="name" role="menuitem">
						<a href="/book-reviews/">Book Reviews</a>
					</li>
					<li itemprop="name" role="menuitem">
						<a href="/faith/">Faith Blog</a>
					</li>
					<li itemprop="name" role="menuitem">
						<a href="/martech/">MarTech Blog</a>
					</li>
				</ul>
				<address class="sm:w-full md:w-33">
					<div class="mb-2">
						Brandon Caples<br>
						Chattanooga, Tennessee
					</div>
					<div class="socials mt-6">
						{% include icons.html %}
					</div>
				</address>
				<div class="legal w-full text-xs">
					<p class="sm:splendid-block md:splendid-inline">&copy; {{ "now" | date: "%Y" }} Brandon Caples</p>
				</div>
			</div>
		</footer>
	</body>
</html>