{% if site.scripts.ga4 %}
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.scripts.ga4 }}"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', '{{ site.scripts.ga4 }}');
	</script>
{% endif %}

{% if site.scripts.gtm %}
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','{{ site.scripts.gtm }}');</script>
	<!-- End Google Tag Manager -->
{% endif %}

{% if site.scripts.squeaky %}
	<!-- Squeaky Tracking Code -->
	<script>
		(function(s,q,e,a,u,k,y){
			s._sqSettings={site_id:'{{ site.scripts.squeaky }}'};
			u=q.getElementsByTagName('head')[0];
			k=q.createElement('script');
			k.src=e+s._sqSettings.site_id;
			u.appendChild(k);
		})(window,document,'https://cdn.squeaky.ai/g/0.4.0/script.js?');
	</script>
{% endif %}

<!-- Hotjar -->
<script>
	(function(h,o,t,j,a,r){
		h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
		h._hjSettings={hjid:5108733,hjsv:6};
		a=o.getElementsByTagName('head')[0];
		r=o.createElement('script');r.async=1;
		r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
		a.appendChild(r);
	})(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>