<picture class="block w-45 md:w-40 md:mx-12 xl:mx-0">
	<source type="image/webp" srcset="https://res.cloudinary.com/caples/image/upload/c_fill,w_150,h_300,g_auto/v1727285033/brandon_caples_1200x630_c9mttt.webp" media="(max-width: 599px)">
	<source srcset="https://res.cloudinary.com/caples/image/upload/c_fill,w_150,h_300,g_auto/v1727285033/brandon_caples_1200x630_c9mttt.jpg" media="(max-width: 599px)">
	<source type="image/webp" srcset="https://res.cloudinary.com/caples/image/upload/c_fill,w_200,h_300,g_auto/v1727285033/brandon_caples_1200x630_c9mttt.webp" media="(max-width: 799px)">
	<source srcset="https://res.cloudinary.com/caples/image/upload/c_fill,w_200,h_300,g_auto/v1727285033/brandon_caples_1200x630_c9mttt.jpg" media="(max-width: 799px)">
	<source type="image/webp" srcset="https://res.cloudinary.com/caples/image/upload/c_fill,w_400,h_300,g_auto/v1727285033/brandon_caples_1200x630_c9mttt.webp" >
	<img src="https://res.cloudinary.com/caples/image/upload/c_fill,w_400,h_300,g_auto/v1727285033/brandon_caples_1200x630_c9mttt.jpg" class="tl-rounded tr-round bl-round br-rounded shadow" alt="Brandon Caples, marketing automation specialist, web developer, email production technologist, email developer" />
</picture>