{% highlight email %}
<mj-body css-class="caples" background-color="#465C37" width="600px">
	<mj-section mj-class="stem" padding="30px 30px 0">
		<mj-column>
			<mj-image href="https://brandoncaples.com" width="150px" height="41px" src="image.jpg"></mj-image>
		</mj-column>
	</mj-section>
	<mj-wrapper>
		<mj-hero mode="fixed-height" height="400px" background-width="600px" background-height="400px"
			background-url="bg.jpg" background-color="#FFEDD9" padding="100px 0 50px" vertical-align="bottom">
			<mj-text mj-class="white text-xl" padding="20px" align="center" font-weight="700">
				WHAT A HEADLINE!
			</mj-text>
			<mj-button href="https://brandoncaples.com" align="center">
				LET'S GO
			</mj-button>
		</mj-hero>
		<mj-section mj-class="white" padding="50px 0 30px">
			<mj-column>
				<mj-text mj-class="black text-lg" font-weight="700">
					FirstName,
				</mj-text>
				<mj-text mj-class="black text-base">
					Here's a great opening statement.
				</mj-text>
			</mj-column>
		</mj-section>
{% endhighlight %}