{% highlight email %}
<table itemscope itemtype="https://schema.org/BlogPosting" border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
	<tbody>
		<tr>
			<td style="width:264px;">
				<a href="https://brandoncaples.com/2024/email-accessibility" alias="Related Blog Image 1" target="_blank">
					<img itemprop="image" src="https://brandoncaples.com/assets/img/martech/laptop-emails.jpg" alt="A woman typing on a laptop, with abstract emails flying out" height="auto" style="border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:16px;" width="264" />
				</a>
			</td>
		</tr>
		<tr>
			<td align="center" style="font-size:0px;padding:8px 8px 0px;word-break:break-word;">
				<div itemprop="headline" style="font-family:Verdana, Geneva, Arial, sans-serif;font-size:18px;font-weight:700;letter-spacing:0;line-height:30px;text-align:center;color:#000001;">
					<a href="https://brandoncaples.com/2024/email-accessibility?utm_content=link-blog_body" target="_blank" style="font-weight:700; color:#000001; border-bottom: 2px solid #FFC857;">Email accessibility</a>
				</div>
			</td>
		</tr>
		<tr>
			<td itemprop="author" itemscope itemtype="https://schema.org/Person" align="left" style="font-size:0px;padding:8px 8px 0px;word-break:break-word;">
				<div itemprop="name" style="font-family:Verdana, Geneva, Arial, sans-serif;font-size:14px;font-weight:400;letter-spacing:0;line-height:20px;text-align:left;color:#000001;">
					Brandon Caples
				</div>
			</td>
			<td align="right" style="font-size:0px;padding:8px 8px 0px;word-break:break-word;">
				<time itemprop="datePublished" datetime="2024-09-23">September 23, 2024</time>
			</td>
		</tr>
		<tr>
			<td itemprop="description" align="left" style="font-size:0px;padding:8px 8px 0px;word-break:break-word;">
				<div style="font-family:Verdana, Geneva, Arial, sans-serif;font-size:14px;font-weight:400;letter-spacing:0;line-height:20px;text-align:left;color:#000001;">
					Enhancing accessibility ensures that your message makes your email campaigns more successful in the long&nbsp;run.
				</div>
			</td>
		</tr>
	</tbody>
</table>
{% endhighlight %}