<!-- Footer : BEGIN -->
<footer id="footer" itemscope itemtype="https://schema.org/WPFooter" class="bg-blue text-white">
	<div>
		<ul role="navigation" aria-label="Footer" class="two-columns sm:w-full md:w-60">
			<li itemprop="name" role="menuitem">
				<a href="#">Item 1</a>
			</li>
			<li itemprop="name" role="menuitem">
				<a href="#">Item 2</a>
			</li>
			<li itemprop="name" role="menuitem">
				<a href="#">Item 3</a>
			</li>
			<li itemprop="name" role="menuitem">
				<a href="#">Item 4</a>
			</li>
			<li itemprop="name" role="menuitem">
				<a href="#">Item 5</a>
			</li>
			<li itemprop="name" role="menuitem">
				<a href="#">Item 6</a>
			</li>
			<li itemprop="name" role="menuitem">
				<a href="#">Item 7</a>
			</li>
			<li itemprop="name" role="menuitem">
				<a href="#">Item 8</a>
			</li>
			<li itemprop="name" role="menuitem">
				<a href="#">Item 9</a>
			</li>
		</ul>
		<address class="sm:w-full md:w-33">
			<div class="mb-2">
				Splendid<br>
				123 Main Street<br>
				Chattanooga, Tennessee 37421
			</div>
			<a href="mailto:name@example.com" class="splendid-block">name@example.com</a>
			<a href="tel:5555555555" class="splendid-block">(555) 555-5555</a>
			<div class="socials mt-6">
				<!-- Social icons, if enabled -->
				{% include icons.html %}
			</div>
		</address>
		<div class="legal w-full text-xs">
			<span class="sm:splendid-block md:splendid-inline md:mr-8">&copy; 2021 Brandon Caples</span>
			<a href="#" class="mr-4">Terms of Use</a>
			<a href="#">Privacy Policy</a>
		</div>
	</div>
</footer>
<!-- Footer : END -->