<!-- Footer : BEGIN -->
<footer id="footer" itemscope itemtype="https://schema.org/WPFooter" class="bg-black text-white">
	<div class="max-w-4 pt-16 px-6 pb-4 md:px-0">
		<ul role="navigation" aria-label="Footer" class="two-columns sm:w-full md:w-60">
			<li itemprop="name" role="menuitem">
				<a href="/about/">About</a>
			</li>
			<li itemprop="name" role="menuitem">
				<a href="/book-reviews/">Book Reviews</a>
			</li>
			<li itemprop="name" role="menuitem">
				<a href="/faith/">Faith Blog</a>
			</li>
			<li itemprop="name" role="menuitem">
				<a href="/martech/">MarTech Blog</a>
			</li>
		</ul>
		<address class="sm:w-full md:w-33">
			<div class="mb-2">
				Brandon Caples<br>
				Chattanooga, Tennessee
			</div>
			<div class="socials mt-6">
				{% include icons.html %}
			</div>
		</address>
		<div class="legal w-full text-xs">
			<p class="sm:splendid-block md:splendid-inline">All opinions are my own, unless otherwise noted. I do not claim expert knowledge of the subjects discussed.</p>
			<p class="sm:splendid-block md:splendid-inline">&copy; {{ "now" | date: "%Y" }} Brandon Caples</p>
		</div>
	</div>
</footer>
{% if page.url contains 'photos' %}
	<script src="/assets/js/exif.js"></script>
	<script src="/assets/js/lightbox.js"></script>
{% endif %}
<!-- Footer : END -->