<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.meta.title }}</title>
	<meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 140 }}{% else %}{{ site.meta.description }}{% endif %}">
	<meta name="author" content="{{ site.author.name }}">

	{% if site.scripts.ga4 %}
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.scripts.ga4 }}"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', '{{ site.scripts.ga4 }}');
		</script>
	{% endif %}

	{% if site.scripts.gtm %}
		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','{{ site.scripts.gtm }}');</script>
		<!-- End Google Tag Manager -->
	{% endif %}

	{% if site.scripts.squeaky %}
		<!-- Squeaky Tracking Code -->
		<script>
			(function(s,q,e,a,u,k,y){
				s._sqSettings={site_id:'{{ site.scripts.squeaky }}'};
				u=q.getElementsByTagName('head')[0];
				k=q.createElement('script');
				k.src=e+s._sqSettings.site_id;
				u.appendChild(k);
			})(window,document,'https://cdn.squeaky.ai/g/0.4.0/script.js?');
		</script>
	{% endif %}

	<!-- Open Graph Tags -->
	<meta property="og:type" content="{% if page.layout == 'post' %}article{% elsif page.layout == 'book_review' %}book{% else %}website{% endif %}">
	<meta property="og:url" content="{{ page.url | replace: '/index.html','/' | prepend: site.baseurl | prepend: site.url }}">
	{% if page.book.title %}
		<meta property="og:title" content="{{ page.book.title }}">
	{% else %}
		<meta property="og:title" content="{% if page.title %}{{ page.title | smartify | strip_html | strip_newlines | escape_once }}{% else %}{{ site.name }}{% endif %}">
	{% endif %}
	<meta property="og:image" content="{{ site.url }}/assets/img/{% if page.featured_image %}{{ page.featured_image.fallback }}{% else %}brandon_caples.jpg{% endif %}">
	<meta property="og:description" content="{% if page.description %}{{page.description | strip_html | strip_newlines | truncate: 140 }}{% else %}{{ site.meta.description }}{% endif %}">
	{% if page.layout == 'post' %}
		{% if page.category == 'MarTech' %}
			<meta property="article:publisher" content="https://www.facebook.com/capleswebdesign" />
		{% else %}
			<meta property="article:author" content="https://www.facebook.com/bcaples" />
		{% endif %}
		<meta property="article:published_time" content="{{ page.date }}" />
		<meta property="article:author" content="Brandon Caples">
		<meta property="article:section" content="{{ page.category }}" />
		{% for tag in page.tags %}
			<meta property="article:tag" content="{{ tag }}">
		{% endfor %}
	{% elsif page.layout == 'book_review' %}
		<meta property="book:author" content="{{ page.book.author }}">
		{% for tag in page.tags %}
			<meta property="book:tag" content="{{ tag }}">
		{% endfor %}
		<meta property="book:isbn" content="{{ page.book.isbn }}">
	{% endif %}

	<!-- Twitter Meta Tags -->
	<meta name="twitter:card" content="summary_large_image">
	{% if site.social.twitter.username %}
		<meta name="twitter:site" content="@{{ site.social.twitter.username }}">
		<meta name="twitter:creator" content="@{{ site.social.twitter.username }}">
	{% endif %}
	{% if site.social.twitter.id %}
		<meta name="twitter:creator:id" content="{{ site.social.twitter.id }}">
	{% endif %}
	<meta property="twitter:domain" content="{{ site.url }}">
	<meta property="twitter:url" content="{{ page.url | replace: '/index.html','/' | prepend: site.baseurl | prepend: site.url }}">
	<meta name="twitter:title" content="{% if page.title %}{{ page.title | smartify | strip_html | strip_newlines | escape_once }}{% else %}{{ site.name }}{% endif %}">
	<meta name="twitter:description" content="{% if page.description %}{{page.description | strip_html | strip_newlines | truncate: 140 }}{% else %}{{ site.meta.description }}{% endif %}">
	<meta name="twitter:image" content="{{ site.url }}/assets/img/{% if page.featured_image.fallback %}{{ page.featured_image.fallback }}{% else %}brandon_caples.jpg{% endif %}">
	<meta name="twitter:image:alt" content="{% if page.featured_image.alt %}{{ page.featured_image.alt }}{% else %}Brandon Caples{% endif %}">

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="/assets/styles/global/layout.css" media="all">
	<link rel="stylesheet" type="text/css" href="/assets/styles/global/syntax.css" media="all">
	<link rel="stylesheet" type="text/css" href="/assets/styles/main.css" media="all">
	<link rel="stylesheet" type="text/css" href="/assets/styles/global/responsive/sm.css" media="screen and (max-width: 599px)">
	<link rel="stylesheet" type="text/css" href="/assets/styles/global/responsive/md.css" media="screen and (min-width: 600px)">
	<link rel="stylesheet" type="text/css" href="/assets/styles/global/responsive/lg.css" media="screen and (min-width: 900px)">
	<link rel="stylesheet" type="text/css" href="/assets/styles/global/responsive/xl.css" media="screen and (min-width: 1200px)">

	<!--Favicon-->
	<link rel="shortcut icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}" type="image/x-icon">

	<!-- Canonical -->
	{% if page.canonical %}
		<link rel="canonical" href="{{ page.canonical.url | absolute_url }}" />
	{% else %}
		<link rel="canonical" href="{{ page.url | absolute_url }}" />
	{% endif %}

	<!-- RSS -->
	<link rel="alternate" type="application/atom+xml" title="{{ site.meta.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

	<!-- KaTeX -->
	{% if site.scripts.katex %}
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.3.0/katex.min.css">
		<script src="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.3.0/katex.min.js"></script>
	{% endif %}

	{% if page.url contains 'photos' %}
		<link rel="stylesheet" href="/assets/styles/pages/photos.css">
	{% endif %}

	<!-- JavaScript -->
	<script src="https://cdn.jsdelivr.net/npm/exif-js"></script>
	<script type="text/javascript" async src="{{ site.url }}/assets/js/main.js"></script>
	{% if page.modal.display == 'true' %}
		<script type="text/javascript" async src="{{ site.url }}/assets/js/modal.js"></script>
	{% endif %}
</head>