<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.meta.title }}</title>
	<meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 140 }}{% else %}{{ site.meta.description }}{% endif %}">
	<meta name="author" content="{{ site.author.name }}">
	<meta http-equiv="X-Frame-Options" content="sameorigin">

	{% if site.scripts.ga4 %}
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.scripts.ga4 }}"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', '{{ site.scripts.ga4 }}');
		</script>
	{% endif %}

	{% if site.scripts.gtm %}
		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','{{ site.scripts.gtm }}');</script>
		<!-- End Google Tag Manager -->
	{% endif %}

	<!-- Open Graph Tags -->
	<meta property="og:url" content="{{ page.url | replace: '/index.html','/' | prepend: site.baseurl | prepend: site.url }}">
	<meta property="og:type" content="{% if page.date %}article{% else %}website{% endif %}">
	<meta property="og:title" content="{% if page.title %}{{ page.title | smartify | strip_html | strip_newlines | escape_once }}{% else %}{{ site.name }}{% endif %}">
	<meta property="og:image" content="{{ site.url }}/assets/img/{% if page.featured_image %}{{ page.featured_image.src }}{% else %}brandon_caples.jpg{% endif %}">
	<meta property="og:description" content="{% if page.description %}{{page.description | strip_html | strip_newlines | truncate: 140 }}{% else %}{{ site.meta.description }}{% endif %}">

	<!-- Twitter Meta Tags -->
	<meta name="twitter:card" content="summary_large_image">
	<meta property="twitter:domain" content="{{ site.url }}">
	<meta property="twitter:url" content="{{ page.url | replace: '/index.html','/' | prepend: site.baseurl | prepend: site.url }}">
	<meta name="twitter:title" content="{% if page.title %}{{ page.title | smartify | strip_html | strip_newlines | escape_once }}{% else %}{{ site.name }}{% endif %}">
	<meta name="twitter:description" content="{% if page.description %}{{page.description | strip_html | strip_newlines | truncate: 140 }}{% else %}{{ site.meta.description }}{% endif %}">
	<meta name="twitter:image" content="{{ site.url }}/assets/img/{% if page.featured_image %}{{ page.featured_image.src }}{% else %}brandon_caples.jpg{% endif %}">

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="/assets/styles/global/layout.css" media="all">
	<link rel="stylesheet" type="text/css" href="/assets/styles/global/syntax.css" media="all">
	<link rel="stylesheet" type="text/css" href="/assets/styles/main.css" media="all">
	<link rel="stylesheet" type="text/css" href="/assets/styles/global/responsive/sm.css" media="screen and (max-width: 599px)">
	<link rel="stylesheet" type="text/css" href="/assets/styles/global/responsive/md.css" media="screen and (min-width: 600px)">
	<link rel="stylesheet" type="text/css" href="/assets/styles/global/responsive/lg.css" media="screen and (min-width: 900px)">
	<link rel="stylesheet" type="text/css" href="/assets/styles/global/responsive/xl.css" media="screen and (min-width: 1200px)">

	<!--Favicon-->
	<link rel="shortcut icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}" type="image/x-icon">

	<!-- Canonical -->
	{% if page.canonical %}
		<link rel="canonical" href="{{ page.canonical | absolute_url }}" />
	{% else %}
		<link rel="canonical" href="{{ page.url | absolute_url }}" />
	{% endif %}

	<!-- RSS -->
	<link rel="alternate" type="application/atom+xml" title="{{ site.meta.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

	<!-- KaTeX -->
	{% if site.scripts.katex %}
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.3.0/katex.min.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.3.0/katex.min.js"></script>
	{% endif %}

	<!-- JavaScript -->
	<script type="text/javascript" async src="{{ site.url }}/assets/js/main.js"></script>
</head>