<section id="slider" class="min-h-80 p-0">
	{% for slide in site.data.slider %}
		{% if slide.display %}
		<div class="slide splendid-flex p-0 flex-col lg:flex-row items-stretch bg-blue active" style="background: {{ slide.bg_color }};">
			{% if slide.webp_src != "" or slide.jpg_src != "" %}
				<div class="img-container relative h-full lg:w-half xl:w-60">
					<a href="{{ slide.button_link }}" {% if slide.download !="" %}download="{{ slide.download }}" {% endif %}>
						<picture>
							<source type="image/webp" srcset="{{ slide.webp_src }}">
							<img src="{{ slide.jpg_src }}" class="absolute inset-0 w-full h-full object-cover" alt="{{ slide.img_alt }}" />
						</picture>
					</a>
				</div>
			{% endif %}
			<div class="slider-content lg:w-half xl:w-40 pt-6 lg:pt-20 px-7 lg:pr-36 text-{{ slide.text_color }}">
				<small class="label mb-4 font-bold text-xs text-{{ slide.text_color }} uppercase opacity-50">{{ slide.item_type }}</small>
				<h2 itemprop="name" class="title w-90 mb-4 md:mb-6 mx-0 p-0 text-base md:text-lg lg:text-xl text-{{ slide.text_color }} normal">{{ slide.heading }}</h2>
				<p class="mb-6 md:mb-8 text-sm text-{{ slide.text_color }}">{{ slide.desc }}</p>
				<a href="{{ slide.button_link }}" {% if slide.download !="" %}download="{{ slide.download }}" {% endif %}class="splendid-button small {% if slide.text_color != 'white' %}dark{% else %}light{% endif %}" role="button">{{ slide.button_text }}</a>
			</div>
		</div>
		{% endif %}
	{% endfor %}
	<nav id="slider-nav" class="splendid-flex px-7 py-4 flex-row justify-between" style="display:none;">
		<ul class="dots splendid-flex p-0 flex-row items-center">
			<li class="prev p-0" onclick="plusSlides(-1)"></li>
			{% assign slides = site.data.slider | where: "display", true %}
			{% for slide in slides %}
			<li class="dot bg-white rounded" data-slide="{{ forloop.index }}"></li>
			{% endfor %}
			<li class="next p-0" onclick="plusSlides(1)"></li>
		</ul>
	</nav>
</section>
<script>
	let slideIndex = 0;
	const slides = document.querySelectorAll('.slide');
	const dots = document.querySelectorAll('.dot');
	const totalSlides = slides.length;
	let slideInterval;

	function showSlide(index) {
		slides.forEach(slide => slide.classList.remove('active'));
		dots.forEach(dot => dot.classList.remove('active'));

		slideIndex = (index + totalSlides) % totalSlides;

		slides[slideIndex].classList.add('active');
		dots[slideIndex].classList.add('active');
	}

	function startSlideShow() {
		slideInterval = setInterval(() => {
			showSlide(slideIndex + 1);
		}, 7000);
	}

	function resetSlideShow() {
		clearInterval(slideInterval);
		startSlideShow();
	}

	dots.forEach((dot, index) => {
		dot.addEventListener('click', () => {
			showSlide(index);
		});
	});

	document.querySelector('.prev').addEventListener('click', () => {
		showSlide(slideIndex - 1);
		resetSlideShow();
	});

	document.querySelector('.next').addEventListener('click', () => {
		showSlide(slideIndex + 1);
		resetSlideShow();
	});

	showSlide(slideIndex);
	startSlideShow();

	window.document.getElementById('slider-nav').style.display = 'flex';
</script>