<div class="ml-form-embedBody ml-form-embedBodyDefault row-form">
	<header class="ml-form-embedContent mb-6 px-0">
		<h4 class="m-0 text-white">Subscribe</h4>
		<p class="print-only">Sign up to receive emails.</p>
	</header>
	<form class="splendid ml-block-form" action="https://assets.mailerlite.com/jsonp/1129997/forms/134229797795529866/subscribe" data-code="" method="post" target="_blank">
		<div class="form-group w-full ml-form-formContent">
			<div class="form-row w-full ml-form-fieldRow ml-last-item">
				<div class="form-field w-full ml-field-group ml-field-email ml-validate-email ml-validate-required">
					<input aria-label="email" aria-required="true" type="email" class="form-control w-full" data-inputmask="" name="fields[email]" placeholder="Email" autocomplete="email">
				</div>
			</div>
		</div>
		<div class="ml-form-checkboxRow ml-validate-required">
			<label class="checkbox">
				<input type="checkbox">
				<div class="splendid-flex label-description mt-2 flex-row justify-start items-center text-xs">
					<p class="m-0">Opt in to receive emails.</p>
				</div>
			</label>
		</div>
		<input type="hidden" name="ml-submit" value="1">
		<div class="mt-4 ml-form-embedSubmit">
			<button type="submit" class="splendid-button small">Subscribe</button>
			<button disabled="disabled" style="display:none;" type="button" class="loading splendid-button small">
				<div class="ml-form-embedSubmitLoad"></div>
				<span class="sr-only">Loading...</span>
			</button>
		</div>
		<input type="hidden" name="anticsrf" value="true">
	</form>
</div>
<div class="ml-form-successBody row-success" style="display:none">
	<div class="ml-form-successContent">
		<h4>Thank you!</h4>
		<p>You have successfully joined my subscriber list.</p>
	</div>
	<script>
		function ml_webform_success_18604710() {
			var $ = ml_jQuery || jQuery;
			$('.ml-subscribe-form-18604710 .row-success').show();
			$('.ml-subscribe-form-18604710 .row-form').hide();
		}
	</script>
	<script src="https://groot.mailerlite.com/js/w/webforms.min.js?v2d8fb22bb5b3677f161552cd9e774127" type="text/javascript"></script>
	<script>
		fetch("https://assets.mailerlite.com/jsonp/1129997/forms/134229797795529866/takel")
	</script>
</div>