---
layout: portfolio
title: Website Portfolio
permalink: /portfolio/web/
category: Web
---

{% assign projects = site.portfolio_web %}
{% if projects.size > 0 %}
<script type="application/ld+json" class="splendid-schema-graph">
	{
		"@context": "https://schema.org",
		"@type": "WebPage",
		"name": "Website Design Portfolio | Brandon Caples",
		"description": "A collection of website design and development projects by Brandon Caples.",
		"url": "{{ site.url }}/portfolio/web/",
		"mainEntity": {
			"@type": "ItemList",
			"name": "Website Portfolio Projects",
			"itemListElement": [
				{% for project in projects %}
				{
					"@type": "ListItem",
					"position": {{ forloop.index }},
					"url": "{{ site.url }}/portfolio/web/{{ project.id }}",
					"name": "{{ project.title }}"
				},
				{% endfor %}
			]
		}
	}
</script>
<div class="projects max-w-4 mb-0 lg:mx-auto">
	{% for project in projects %}
		<article class="project splendid-flex flex-col" data-title="{{ project.title }}">
			<a href="{{ project.permalink }}">
				<img src="{{ project.featured_image.src }}" class="relative text-black" alt="{{ project.featured_image.alt }}" title="{{ project.featured_image.title }}" />
			</a>
			<a href="{{ project.permalink }}" title="{{ project.featured_image.title }}">
				<h4 class="mt-4 mb-0 text-white" data-title="{{ project.title }}">{{ project.title }}</h4>
			</a>
		</article>
	{% endfor %}
</div>

{% else %}
<div class="splendid-flex px-6 justify-center items-center bg-white rounded">
	<h4>There are no web projects here yet. Check back later.</h4>
</div>
{% endif %}