---
layout: portfolio
title: Website Portfolio
permalink: /portfolio/web/
category: Web
---

{% assign projects = site.portfolio_web %}
{% if projects.size > 0 %}
<script type="application/ld+json" class="splendid-schema-graph">
	{
		"@context": "https://schema.org",
		"@type": "WebPage",
		"name": "Website Design Portfolio | Brandon Caples",
		"description": "A collection of website design and development projects by Brandon Caples.",
		"url": "{{ site.url }}/portfolio/web/",
		"mainEntity": {
			"@type": "ItemList",
			"name": "Website Portfolio Projects",
			"itemListElement": [
				{% for project in projects %}
				{
					"@type": "ListItem",
					"position": {{ forloop.index }},
					"url": "{{ project.project_url }}",
					"name": "{{ project.title }}"
				},
				{% endfor %}
			]
		}
	}
</script>
<section class="mt-8 pt-10 pb-16 lg:pb-20 px-7 md:px-10 bg-sand">
	<p class="relative max-w-4 my-0 mx-auto text-xs lg:text-sm font-normal">Welcome to my web portfolio, where you'll find a selection of my website projects, including full website renovations, partial website projects, landing pages, and feature enhancements.</p>
</section>
<main class="-mt-16 pt-6 pb-16 px-7 md:px-10">
	<div class="projects max-w-4 mb-0 lg:mx-auto">
		{% for project in projects %}
			<article class="project splendid-flex flex-col" data-title="{{ project.title }}">
				<a href="{{ project.permalink }}">
					<img src="{{ project.featured_image.src }}" class="relative text-black" alt="{{ project.featured_image.alt }}" title="{{ project.featured_image.title }}" />
				</a>
				<a href="{{ project.permalink }}" title="{{ project.featured_image.title }}">
					<h4 class="mt-4 mb-0 text-base text-white" data-title="{{ project.title }}">{{ project.title }}</h4>
				</a>
			</article>
		{% endfor %}
	</div>

	{% else %}
	<div class="splendid-flex px-6 justify-center items-center bg-white rounded">
		<h4>There are no web projects here yet. Check back later.</h4>
	</div>
	{% endif %}

</main>
<section class="py-12 lg:py-20 px-7 md:px-10 bg-stone">
	<header class="max-w-4 mx-auto pb-0 text-green">
		<h2>My web development journey</h2>
	</header>
	<p class="relative max-w-4 mb-5 mx-auto text-xs lg:text-sm font-normal">Back in 2015, I decided to finally learn HTML after a few years in marketing had shown me my passion for martech. So I started with HTML and CSS before moving on to JavaScript and eventually Ruby.</p>
	<p class="relative max-w-4 mb-5 mx-auto text-xs lg:text-sm font-normal">In addition to HTML and CSS, I've learned languages like JavaScript, SQL, AMPscript, PHP, Liquid, and Ruby; content platforms like WordPress and Shopify; and frameworks like Timber/Twig, Vue.js, and AngularJS. I enjoy learning new frameworks, platforms, and web languages.</p>
	<p class="relative max-w-4 mb-0 mx-auto text-xs lg:text-sm font-normal">I owe my tech career to <a href="/martech/2017/im-studying-web-development-because-of-my-wife">my wonderful wife, Jackie</a>, who saw my interest early on and encouraged me to learn the skills I'd need to work in web development.</p>
</section>