/* ----------------------------------------------------------------
TABLE OF CONTENTS
	0	Imports + Root
	1	Customizations
	2	Typography
	3	Header
	4	Hero Section
	5	Tabs Section
	6	Posts Section
	7	Carousel Section
	8	Countdown Section
	9	CTA Section
	10	Form Section
	11	Single Post
	12	Related Posts
	13	Gallery Layouts
	14	Tables
	15	Content Layouts
	16	Page Navigation
	17	Buttons + Links
	18	Blockquotes
	19	Code Blocks
	20	Utilities
	21	Footer
	22	Responsive
---------------------------------------------------------------- */

/* ================================================================
	0	Imports + Root
================================================================ */

@import url(global/icons.css);
@import url(global/animations.css);
@import url(global/layout.css);
@import url(global/flex.css);
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap');

:root {
	font-size: 16px;
	line-height: 200%;
	scroll-behavior: smooth;
	color: #121212;
	--splendid-red: #F05454;
	--splendid-green: #2CA096;
	--splendid-blue: #30475E;
	--splendid-yellow: #FFC857;
	--splendid-orange: #FF6F59;
	--splendid-plum: #3E2C41;
	--splendid-stone: #EDEDE2;
	--splendid-sand: #DEDECA;
	--splendid-taupe: #B5A78E;
	--splendid-gray: #6B7A8F;
	--splendid-black: #121212;
	--splendid-white: #F8F9FA;
}

/* ================================================================
	1	Customizations
================================================================ */

/* Accent Color */

::selection { color: #000000; background: #FFC857; }
.accent, #footer a { color: #FFC857 !important; }
section .splendid-cta { color: #F05454 !important; text-decoration: none !important; }
.bg-accent { background-color: #F05454 !important; }

/* Buttons + Links */

.splendid-button.primary { background-color: #F05454; }

/* Backgrounds */

.bg-red { background-color: #F05454; }
.bg-green { background-color: #2CA096; }
.bg-blue { background-color: #30475E; }
.bg-yellow { background-color: #FFC857; }
.bg-orange { background-color: #FF6F59; }
.bg-plum { background-color: #3E2C41; }
.bg-stone, html body { background-color: #EDEDE2; }
.bg-sand { background-color: #DEDECA; }
.bg-taupe { background-color: #B5A78E; }
.bg-gray { background-color: #6B7A8F; }
.bg-black { background-color: #121212; }
.bg-white { background-color: #F8F9FA; }
.bg-glass { background: rgba(222, 222, 202, 0.25); border-radius: 16px; backdrop-filter: blur(2px); -webkit-backdrop-filter: blur(2px); border: 1px solid rgba(222, 222, 202, 0.5); }
.bg-transparent { background-color: transparent; }

/* Typography */

body *, .splendid-button, blockquote {
	font-family: 'Open Sans', 'Roboto', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

h1, h2, h3, h4, h5, h6, blockquote > p:first-child::before {
	font-family: 'DM Serif Display', 'Cambria', 'Cochin', 'Georgia', 'Times', 'Times New Roman', serif;
}

code, code span, pre, pre span {
	font-family: 'Share Tech Mono', 'Lucida Console', 'Courier', monospace;
}

.text-red { color: #F05454; }
.text-green { color: #2CA096; }
.text-blue { color: #30475E; }
.text-yellow { color: #FFC857; }
.text-orange { color: #FF6F59; }
.text-plum { color: #3E2C41; }
.text-stone { color: #EDEDE2; }
.text-sand { color: #DEDECA; }
.text-taupe { color: #B5A78E; }
.text-gray { color: #6B7A8F; }
.text-black { color: #121212; }
.text-white { color: #F8F9FA; }

.hover\:text-red:hover { color: #F05454; }
.hover\:text-green:hover { color: #2CA096; }
.hover\:text-blue:hover { color: #30475E; }
.hover\:text-yellow:hover { color: #FFC857; }
.hover\:text-orange:hover { color: #FF6F59; }
.hover\:text-plum { color: #3E2C41; }
.hover\:text-stone:hover { color: #EDEDE2; }
.hover\:text-sand:hover { color: #DEDECA; }
.hover\:text-taupe { color: #B5A78E; }
.hover\:text-gray { color: #6B7A8F; }
.hover\:text-black:hover { color: #121212; }
.hover\:text-white:hover { color: #F8F9FA; }

body p a,
.card .read-more,
#post article .tags a.tag,
#book-review article .tags a.tag,
#post article .bible-books a,
#resume a.certification {
	color: #000000;
	background-image: linear-gradient(#FFC857, #FFC857);
	background-size: 100% 0.2rem;
	background-position: bottom;
	background-repeat: no-repeat;
	text-decoration: none;
	transition: background-size 0.3s ease-in-out;
}

body p a:hover,
.card .read-more:hover,
#post article .tags a.tag:hover,
#book-review article .tags a.tag:hover,
#post article .bible-books a:hover,
#resume a.certification:hover {
	background-size: 100% 0.7rem;
	background-position: bottom;
}

/* Forms */

.form-group .form-field > input[type=checkbox]:checked + label::before,
.form-group .form-field > input[type=radio]:checked + label::before {
	background-color: #2CA096;
}

.form-field.dropdown .select-items div:hover, .same-as-selected {
	color: #F8F9FA;
	background-color: #2CA096;
}

form label.required::before {
	content: "*";
}

/* ================================================================
	2	Typography
================================================================ */

/* DM Serif Display */

@font-face {
	font-family: 'DM Serif Display';
	src: url('../webfonts/DMSerifDisplay/DMSerifDisplay-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DM Serif Display';
	src: url('../webfonts/DMSerifDisplay/DMSerifDisplay-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

/* Raginy */

@font-face {
	font-family: 'Raginy';
	src: url('../webfonts/RaginyRegular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body *.font-sans {
	font-family: 'Open Sans', sans-serif;
}

body *.font-serif {
	font-family: 'DM Serif Display', serif;
}

body *.font-display {
	font-family: 'Raginy';
}

body *.font-monospace {
	font-family: 'Share Tech Mono', monospace;
}

strong { font-weight: bold !important; }
em { font-style: italic !important; }

body, *.text-base {
	font-size: 1.25rem;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body a, body p a {
	font-weight: 700 !important;
	text-decoration: none !important;
}

body p a[rel=footnote],
body .footnotes p a[role=doc-backlink] {
	border-bottom-width: 0;
	border-bottom-style: none;
}

h1, h1 > * {
	font-size: 2.5rem !important;
	line-height: 3rem;
}

h2, h2 > * {
	font-size: 2rem !important;
	line-height: 2.5rem;
}

h3, h3 > * {
	font-size: 1.75rem !important;
	line-height: 2.25rem;
}

h4, h4 > * {
	font-size: 1.5rem !important;
	line-height: 2rem;
}

h5, h5 > * {
	font-size: 1.25rem !important;
	line-height: 1.75rem;
}

h6, h6 > * {
	font-size: 1rem !important;
	line-height: 1.5rem;
}

h1, h1 > *, h2, h2 > *, h3, h3 > *, h4, h4 > *, h5, h5 > *, h6, h6 > * {
	margin-top: 0;
	font-family: 'DM Serif Display', 'Cambria', 'Cochin', 'Georgia', 'Times', 'Times New Roman', serif;
	font-weight: 900 !important;
	line-height: 1.5;
}

body *.text-xs { font-size: 0.85rem !important; }
body *.text-sm { font-size: 1rem !important; }
body *.text-base { font-size: 1.25rem !important; }
body *.text-lg { font-size: 1.5rem !important; }
body *.text-xl { font-size: 1.75rem !important; }
body *.text-2xl { font-size: 2rem !important; }
body *.text-3xl { font-size: 2.5rem !important; }
body *.text-4xl { font-size: 3rem !important; }

*.serif { font-family: serif !important; }
*.sans-serif { font-family: sans-serif !important; }

.thin {
	font-weight: 300;
	font-weight: 200;
	font-weight: 100;
}

body *, .font-medium {
	font-weight: 600;
	font-weight: 500;
	font-weight: 400;
	font-weight: normal;
}

.font-bold {
	font-weight: 900;
	font-weight: 800;
	font-weight: 700;
	font-weight: bold;
}

.normal { font-style: normal; }
.italic { font-style: italic; }

body address, body address * {
	font-size: 1rem;
	font-style: normal;
	line-height: 1.5;
}

/* ================================================================
	3	Header
================================================================ */

#splendid-header {
	/* height: 15vh; */
	background-color: #F8F9FA;
	overflow: visible !important;
	z-index: 10100;
}

header .splendid-logo a {
	font-size: 2rem;
	background-color: transparent;
	border: none !important;
	outline: none !important;
	text-decoration: none;
	cursor: pointer;
	z-index: 20200;
}

.logo img, img.logo {
	margin: 0 !important;
	max-width: 100%;
	height: auto;
	max-height: 12vh;
	border-radius: 50%;
}

.nav-link, .nav-item {
	font-family: 'DM Serif Display', 'Open Sans', sans-serif;
	font-weight: 600;
	line-height: 2.25rem;
	color: #121212;
}

nav#main-menu {
	overflow: visible !important;
}

#main-menu > ul > .menu-item {
	overflow-y: visible;
}

#main-menu .menu-item > ul.submenu {
	list-style: none !important;
	border-left: 2px solid #121212;
	border-right: none;
}

header .branding svg {
	margin-left: unset;
	margin-right: unset;
}

header .branding svg #logomark {
	fill:none;
	stroke: #121212;
	stroke-width:2;
	stroke-linecap:round;
	stroke-linejoin:round;
	stroke-miterlimit:4;
	stroke-dasharray:100;
	stroke-opacity:1;
	-webkit-animation: draw 1.2s ease-in 0s 1 running;
	animation: draw 1.2s ease-in 0s 1 running;
	-webkit-transition: stroke 0.15s ease-in-out;
	-o-transition: stroke 0.15s ease-in-out;
	-moz-transition: stroke 0.15s ease-in-out;
	transition: stroke 0.15s ease-in-out;
}

header .branding > span {
	-webkit-transition: color 0.15s ease-in-out;
	-o-transition: color 0.15s ease-in-out;
	-moz-transition: color 0.15s ease-in-out;
	transition: color 0.15s ease-in-out;
}

header .branding:hover svg #logomark {
	stroke: #2CA096;
}

header .branding:hover > span {
	color: #2CA096;
}

header .branding div {
	color: #121212;
	line-height: 1.25;
	-webkit-transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
}

header .branding:hover div {
	color: #2CA096;
}

#nav-container {
	gap: 1rem;
}

#nav-container nav {
	font-size: calc(1.15rem + (2 - 1.15) * ((100vw - 300px) / 600));
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	z-index: 10010;
}

#secondary-menu ul.navbar-nav {
	font-size: 1.15rem;
}

ul.navbar-nav {
	margin: 0 !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
	list-style: none !important;
}

ul li .nav-link {
	color: #121212;
	background-image: linear-gradient(#121212, #121212);
	background-size: 0% 0.1em;
	background-position-y: 100%;
	background-position-x: 0%;
	background-repeat: no-repeat;
	text-align: center;
	text-decoration: none;
	transition: background-size 0.3s ease-in-out;
}

ul li .nav-link:hover, ul li .nav-link:focus, ul li .nav-link:active {
	background-size: 100% 0.1em;
}

ul li ul li .nav-link {
	color: #121212;
	background-image: linear-gradient(#FFC857, #FFC857);
	background-size: 0% 0.1rem;
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
	text-decoration: none;
	transition: background-size 0.3s ease-in-out;
}

ul.submenu li > a.nav-link:hover, ul.submenu li > a.nav-link:focus, ul.submenu li > a.nav-link:active {
	background-size: 100% 0.5rem;
	background-position: center;
}

/* Dark mode */

#dark-mode-toggle {
	display: none !important;
}

#dark-mode-toggle .slider > svg path { transition: visibility 0.25s ease-in-out; }
[data-theme=light] .slider > svg { transform: translateX(1.4rem); }
[data-theme=dark] .slider > svg { transform: translateX(0.3rem); }
.slider.round { border-radius:5rem; }
.slider.round:before { border-radius:5rem; }

/* ================================================================
	4	Hero Section / Slider
================================================================ */

.hero-section,
section#slider {
	position: relative;
	width: 100%;
	max-width: 100%;
	overflow: hidden;
}

.hero-section { padding: 3.5rem 0; }

.hero-section > * {
	padding: 0 2.75rem;
}

section#slider {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 0;
	transition: transform 0.5s ease-in-out;
	z-index: 0;
}

.hero-section video,
section#slider .slide video, .slide img {
	position: absolute;
	top: 50%;
	left: 50%;
	width: auto;
	height: auto;
	min-width: 100%;
	min-height: 100%;
	max-width: none;
	background-size: cover;
	transform: translate(-50%, -50%);
	z-index: -1;
}

.slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 100%;
	height: 100%;
	box-sizing: border-box;
	z-index: 0;
}

.slide.active {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 1;
}

.slide .background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	opacity: 0;
	transform: translateX(100%);
	transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.slide[data-bg-color="false"] {
	background-color: #121212;
}

.slide.active .background {
	opacity: 0.2;
	transform: translateX(0);
}

.slide .slider-content {
	position: relative;
	transform: translateY(-30px);
	opacity: 0;
	transition: transform 0.75s ease-in-out, opacity 0.75s ease-in-out;
	z-index: -10;
}

.slide.active .slider-content {
	transform: translateY(0);
	opacity: 1;
	z-index: 10;
}

/* Slider avigation */

#slider-nav {
	position: absolute;
	bottom: 0;
	left: 50%;
	gap: 0.75rem;
	transform: translate(-50%, 0);
	z-index: 10;
}

#slider-nav li {
	margin: 0 0.5rem;
}

#slider-nav li.prev,
#slider-nav li.next {
	position: relative;
	width: 0.5rem;
	height: 0.5rem;
	padding: 0.5rem;
	color: #F8F9FA;
	background-color: transparent;
	border-radius: 50px;
	cursor: pointer;
	transition: box-shadow 0.3s ease;
}

#slider-nav li.prev:hover,
#slider-nav li.next:hover {
	color: #F05454;
}

#slider-nav li.prev::before,
#slider-nav li.next::after {
	content: "";
	position: absolute;
	bottom: calc(-200% - 0.2rem);
	width: 2rem;
	height: 3rem;
}

#slider-nav li.prev::before {
	right: calc(0% - 0.2rem);
}

#slider-nav li.next::after {
	left: calc(15% - 0.2rem);
}

#slider-nav li.prev {
	box-shadow:
		-0.2rem -0.8rem,
		-0.3rem -0.7rem,
		-0.4rem -0.6rem,
		-0.5rem -0.5rem,
		-0.6rem -0.4rem,
		-0.7rem -0.3rem,
		-0.8rem -0.2rem,
		-0.9rem -0.1rem,
			-1rem 0,
		-0.9rem 0.1rem,
		-0.8rem 0.2rem,
		-0.7rem 0.3rem,
		-0.6rem 0.4rem,
		-0.5rem 0.5rem,
		-0.4rem 0.6rem,
		-0.3rem 0.7rem,
		-0.2rem 0.8rem;
  }
  
#slider-nav li.next {
	box-shadow:
		0.2rem -0.8rem,
		0.3rem -0.7rem,
		0.4rem -0.6rem,
		0.5rem -0.5rem,
		0.6rem -0.4rem,
		0.7rem -0.3rem,
		0.8rem -0.2rem,
		0.9rem -0.1rem,
			1rem 0,
		0.9rem 0.1rem,
		0.8rem 0.2rem,
		0.7rem 0.3rem,
		0.6rem 0.4rem,
		0.5rem 0.5rem,
		0.4rem 0.6rem,
		0.3rem 0.7rem,
		0.2rem 0.8rem;
}

#slider-nav .dots,
#slider-nav .dots .dot {
	list-style-type: none !important;
}

#slider-nav .dots .dot {
	width: 0.75rem;
	height: 0.75rem;
	cursor: pointer;
	border-radius: 50%;
	transition: background-color 0.3s ease;
}
  
#slider-nav li.dot:hover {
	background-color: #F05454;
}
  
#slider-nav li.dot.active {
	background-color: #F05454;
}

/* ================================================================
	5	Tabs Section
================================================================ */

/* Header Area */

.tabs-section header {
	padding: 2.5rem 4rem;
}

.tabs-section header h2 {
	margin-bottom: 1.5rem;
	font-size: 3rem;
}

b.tabs-section header p {
	margin: 0;
}

.tabs-section header p + p {
	margin-top: 1rem;
}
  
/* Tabs Area */

.tabs-section .tabs-container {
	background-color: #F8F9FA;
}

.tabs-container .tabs .tab, .tabs-container .tabs input[type=radio] {
	display: none;
}

.tabs-container .tabs input[type=radio] + label {
	display: inline-block;
	margin: 0;
	padding: 0.5rem 1.5rem;
	font-size: 1.15rem;
	opacity: 0.6;
	cursor: pointer;
	user-select: none;
}

.tabs-container .tabs input[type=radio]:checked + label {
	border-bottom: 2px solid #000;
	opacity: 1;
}

.tabs-container .tabs .tab {
	margin: 0;
	padding: 2rem 1rem;
	border-top-width: 2px;
	border-top-style: solid;
	border-color: #121212;
}

.tabs input:first-of-type:checked + label ~ .tab:first-of-type,
.tabs input:nth-of-type(2):checked + label ~ .tab:nth-of-type(2),
.tabs input:nth-of-type(3):checked + label ~ .tab:nth-of-type(3) {
	display: block;
}

.tabs-container .tabs .tab p {
	margin: 1.5rem;
}

/* ================================================================
	6	Posts Section
================================================================ */

.posts-section .cards-gallery {
	margin: 0 auto;
	width: calc(100% - 3.5rem);
}

/* ================================================================
	7	Carousel Section
================================================================ */

.carousel-section > .carousel {
	padding-bottom: 0 !important;
	max-width: 100% !important;
}

.carousel-section > .carousel > div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	margin: 0 auto;
	padding-bottom: 2.5rem;
	column-gap: 2rem;
	overflow: auto;
	-ms-scroll-snap-type: x mandatory;
	scroll-snap-type: x mandatory;
}

.carousel-section > .carousel > div::before,
.carousel-section > .carousel > div::after {
	content: "";
	position: relative;
	width: 0;
	height: 16rem;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	scroll-snap-align: start;
	z-index: 99999;
}

.carousel-section > .carousel article[itemtype="https://schema.org/Book"],
.carousel-section > .carousel article[itemtype="https://schema.org/Book"] + div {
	width: 10rem;
	height: auto;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	scroll-snap-align: start;
}

/* ================================================================
	8	Countdown Section
================================================================ */

.countdown-section > header {
	padding: 5rem 1.5rem 0;
	max-width: 40rem;
}

.countdown-section > header + .countdown {
	padding: 2.5rem 1.5rem 5rem;
}

.countdown {
	padding: 5rem 0;
	width: auto;
	max-width: 40rem;
	gap: 1.5rem;
	text-align: center;
}

.countdown > div {
	margin: 0;
	padding: 1rem 0.5rem;
	width: auto;
	flex: 1 1 0;
	font-size: 2.5rem;
	line-height: 1.25;
	background-color: #F8F9FA;
	overflow: hidden;
	box-shadow: 0 5px 35px 0 rgb(0 0 0 / 15%);
	user-select: none;
}

.countdown.rounded, .countdown.rounded > div { border-radius: 4px; }

.days::after, .hours::after, .minutes::after, .seconds::after {
	content: attr(class);
	display: block;
	font-size: 1rem;
	font-weight: normal;
	line-height: 1;
	color: rgba(18, 18, 18, 0.75);
}

/* ================================================================
	9	CTA Section
================================================================ */

.cta-section {
	margin: 0;
	padding: 0;
	width: 100%;
	max-width: 100%;
}

.cta-section > * {
	margin: 0 auto;
	max-width: 60rem;
	column-gap: 1.5rem;
	font-size: inherit;
	line-height: inherit;
}

.cta-section > *:first-child:nth-last-child(2), .cta-section > *:nth-child(2):last-child {
	width: 50%;
	max-width: 30rem;
}

/* ================================================================
	10	Forms
================================================================ */

input, textarea { caret-color: #121212 !important; }
fieldset { border-width: 0; border-style: none; border-color: transparent; }
input[type=submit]:hover, input[type=reset]:hover { cursor: pointer; }
.form-field > input[type=file] { padding-top: calc(1.5rem / 2); padding-bottom: calc(1.5rem / 2); height: 1.5rem; }
.form-field > input[type=color] { padding: 0.25rem; width: 100%; height: 3rem; }

.form-section > form { padding: 5rem 0; }

.splendid-form {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	row-gap: 1.5rem;
}

.form-row, .form-group {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	gap: 1rem;
}

fieldset.form-group {
	padding: 0.75rem 0.5rem;
	outline: 1px solid rgba(18, 18, 18, 0.25);
	border-radius: 4px;
}

legend {
	padding-top: 0.25rem;
	font-size: 80%;
	font-weight: bold;
	line-height: 2;
	opacity: 0.5;
}

.splendid-form input[type=submit], .splendid-form + input[type=submit] {
	display: block;
	margin: 2.5rem auto 1rem;
	color: rgba(18, 18, 18, 0.75);
	background-image: none;
	border: none;
	outline: 3px solid rgba(18, 18, 18, 0.25);
}

.splendid-form input[type=submit]:hover, .splendid-form + input[type=submit]:hover {
	color: #121212;
	outline: 3px solid #121212;
}

.form-field.col-1, .form-group.col-1 { flex-basis: calc(100% / 6); }
.form-field.col-2, .form-group.col-2 { flex-basis: calc(100% / 3); }
.form-field.col-3, .form-group.col-3 { flex-basis: 50%; }
.form-field.col-4, .form-group.col-4 { flex-basis: calc(100% * (2 / 3)); flex-basis: calc((100% * (2 / 3)) + 2rem); }
.form-field.col-5, .form-group.col-5 { flex-basis: calc(100% * (5 / 6)); }
.form-field.col-6, .form-group.col-6 { flex-basis: 100%; }

.form-field.col-1, .form-field.col-2, .form-field.col-3, .form-field.col-4, .form-field.col-5, .form-field.col-6,
.form-group.col-1, .form-group.col-2, .form-group.col-3, .form-group.col-4, .form-group.col-5, .form-group.col-6 { grid-column: span 2; }

.form-field { font-size: 1rem; font-weight: normal; line-height: 1.5; color: #000000; border: none; outline: none; }
.form-field[class*="col-"] { flex-shrink: 1; }

.form-group.radio .form-field {
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-group.radio .form-field > input { display: none !important; }

.form-field label {
	font-size: 80%;
	font-weight: bold;
	line-height: 1;
	opacity: 0.5;
	transition: all 0.3s linear;
}

.form-field input[type=checkbox], .form-field input[type=radio],
form.splendid input[type=checkbox], form.splendid input[type=radio] { display: none; }

.form-group .form-field > input[type=checkbox] + label,
form.splendid input[type=checkbox] + label,
.form-group .form-field > input[type=radio] + label,
form.splendid input[type=radio] + label {
	display: flex;
	position: static;
	width: 100%;
	justify-content: flex-start;
	align-items: center;
	line-height: 1.5;
	gap: 0;
	opacity: 1;
	cursor: pointer;
}

.form-group .form-field > input[type=checkbox] + label::before,
form.splendid label input[type=checkbox] + div::before,
.form-group .form-field > input[type=radio] + label::before,
form.splendid label input[type=radio] + div::before {
	content: "";
	display: inline-block;
	margin-right: 0.5rem;
	width: 0.75rem;
	height: 0.75rem;
	line-height: 1rem;
	outline: none;
	border: 3px solid rgba(248, 249, 250, 0.25);
	opacity: 1;
}

.form-group .form-field > input[type=checkbox] + label::before,
form.splendid label input[type=checkbox] + div::before { border-radius: 4px; }
.form-group .form-field > input[type=radio] + label::before,
form.splendid label input[type=radio] + div::before { border-radius: 50px; }

.form-group .form-field > input[type=checkbox]:checked + label::before,
form.splendid label input[type=checkbox]:checked + div::before,
.form-group .form-field > input[type=radio]:checked + label::before,
form.splendid label input[type=radio]:checked + div::before {
	background-color: #2CA096;
	border-color: #F8F9FA;
}

.form-field:focus-within label { opacity: 1; }

.form-field input, .form-field select, .form-field textarea {
	padding: 0.25rem 1rem;
	width: calc(100% - 2rem);
	height: 2.5rem;
	font-size: 1rem;
	font-weight: normal;
	line-height: 1.5;
	color: #000000;
	border: none;
	outline: 1px solid rgba(18, 18, 18, 0.25);
	border-radius: 4px;
}

.form-group.w-full .form-row.w-full .form-field.w-full input.w-full,
.form-group.w-100 .form-row.w-100 .form-field.w-100 input.w-100 {
	width: 100%;
}

.form-field textarea { height: 7.5rem; }

/* Select dropdown field */

.form-field.dropdown {
	position: relative;
}

.form-field.dropdown > select { display: none; }

.selected {
	display: -webkit-inline-flex;
	display: flex;
	position: relative;
	height: 2.5rem;
	font-size: 1rem;
	font-weight: normal;
	line-height: 1.5;
	align-items: center;
	background-color: #FFFFFF;
	border-radius: 4px;
	outline: 1px solid rgba(18, 18, 18, 0.25);
	overflow: hidden;
}

.selected::after {
	position: absolute;
	content: "";
	top: 1.25rem;
	right: 1rem;
	width: 0;
	height: 0;
	border: 0.5rem solid transparent;
	border-color: #121212 transparent transparent transparent;
}

.selected.select-arrow-active::after {
	top: 0.75rem;
	border-color: transparent transparent #121212 transparent;
}

.select-items div, .selected {
	padding: 0.25rem 1rem;
	color: #000000;
	border: none;
	cursor: pointer;
}

.select-items {
	position: absolute;
	top: calc(100% + 0.5rem);
	left: 0.5rem;
	right: 0.5rem;
	background-color: #FFFFFF;
	border-radius: 4px;
	outline: 1px solid rgba(18, 18, 18, 0.25);
	z-index: 99;
}

.select-items > div {
	font-size: 1rem;
	font-weight: normal;
	line-height: 1.5;
	border-radius: 0;
}

.select-items > div:first-of-type {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.select-items > div:last-of-type {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.select-hide { display: none !important; }

/* Form colors */

section.bg-red h2, section.bg-red p, section.bg-red label,
section.bg-green h2, section.bg-green p, section.bg-green label,
section.bg-blue h2, section.bg-blue p, section.bg-blue label,
section.bg-plum h2, section.bg-plum p, section.bg-plum label,
section.bg-orange h2, section.bg-orange p, section.bg-orange label,
section.bg-gray h2, section.bg-gray p, section.bg-gray label,
section.bg-black h2, section.bg-black p, section.bg-black label {
	color: #FFFFFF;
}

section.bg-stone h2, section.bg-stone p, section.bg-stone label,
section.bg-sand h2, section.bg-sand p, section.bg-sand label,
section.bg-taupe h2, section.bg-taupe p, section.bg-taupe label,
section.bg-white h2, section.bg-white p, section.bg-white label {
	color: #121212;
}

/* Responsive */

@media screen and (min-width: 600px) {
	.splendid-form {
		grid-template-columns: repeat(6, 1fr);
		column-gap: 1.5rem;
	}

	.form-field.col-1, .form-group.col-1 { grid-column: span 1; }
	.form-field.col-2, .form-group.col-2 { grid-column: span 2; }
	.form-field.col-3, .form-group.col-3 { grid-column: span 3; }
	.form-field.col-4, .form-group.col-4 { grid-column: span 4; }
	.form-field.col-5, .form-group.col-5 { grid-column: span 5; }
	.form-field.col-6, .form-group.col-6 { grid-column: span 6; }
}

/* ================================================================
	11	Single Post
================================================================ */

#book-review .card {
	background: linear-gradient(110deg, #30475E 40%, rgba(48, 71, 94, 0.8)), url(/assets/img/books.jpeg);
	background: linear-gradient(110deg, #30475E 40%, rgba(48, 71, 94, 0.8)), url(/assets/img/books.webp);
	background-clip: border-box;
	background-origin: border-box;
	background-position: center 70%;
	background-repeat: no-repeat;
	background-size: cover;
}

#post article .meta {
	gap: 2.5rem;
}

#post article audio {
	margin-left: 3rem;
	margin-right: 3rem;
}

main > article audio {
	margin-left: 0;
	margin-right: 0;
}

#post article header > .label,
#book-review article header > .label {
	line-height: 1;
	letter-spacing: 0.15rem;
}

#book-review article .card + * {
	margin-top: 15rem;
}

#book-review .card header picture {
	min-width: fit-content;
}

#post .card header picture.absolute {
	height: 15rem;
	left: 0;
	right: 0;
}

#post article .tags,
#post article .bible-books,
#book-review article .tags {
	gap: 1rem;
}

#splendid main h2, #splendid main h3, #splendid main h4, #splendid main h5, #splendid main h6, #splendid main p, #splendid main ol, #splendid main ul, #splendid main table, #splendid main figure {
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
	margin-left: auto;
	margin-right: auto;
	max-width: 60rem;
}

#splendid main h2 {
	margin-top: 4rem;
	color: #30475E;
}

#splendid section p {
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
}

#post article time + .tags,
#post article time + .bible-books,
#book-review article time + .tags {
	padding-top: 0.25rem;
}

#post article > p:first-of-type
#book-review article > p:first-of-type {
	margin-top: 9rem;
}

#post article > .tags ~ p:first-of-type,
#post article > .bible-books ~ p:first-of-type,
#book-review article > .tags ~ p:first-of-type {
	margin-top: 6rem;
}

#post article section.schema-how-to li,
#post article section.schema-how-to p {
	line-height: 150%;
}

/* ================================================================
	12	Related Posts
================================================================ */

#post main + .related-posts::before {
	content: "";
	display: block;
	margin: 0 auto 4rem;
	width: 100%;
	max-width: 30rem;
	height: 1px;
	background-color: rgba(18, 18, 18, 0.5);
}

.related-posts header {
	display: flex;
	height: 100%;
	flex-flow: column nowrap;
	justify-content: space-evenly;
	box-shadow: none;
}

.related-posts h3 {
	height: 25%;
	line-height: 200%;
	box-shadow: none;
}

.related-posts h3::after {
	content: "";
	display: block;
	width: 25%;
	height: 2px;
	background-color: #121212;
	box-shadow: none;
}

/* ================================================================
	13	Gallery Layouts
================================================================ */

/* Cards Gallery */

.cards-gallery {
	display: -ms-grid;
	display: grid;
	width: auto;
	grid-auto-flow: row;
	gap: 1.5rem;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	list-style: none;
}

.cards-gallery > * {
	height: 0;
	box-shadow: 0 0 0 1px rgba(0,0,0,0.25) inset, 0 0 0 1px rgb(0 0 0) inset;
}

.cards-gallery > .featured {
	width: 100%;
}

body .card a, body .card a:hover, body .card a:active, body .card a:visited {
	color: #F8F9FA;
}

.card .info {
	background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.75));
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.card .info .title {
	line-height: 125%;
	transition: all 0.2s ease-in;
}

.card:hover .info .title {
	transform: translateY(-0.5rem);
}

/* Books Gallery */

.books-gallery {
	display: -ms-grid;
	display: grid;
	width: auto;
	grid-auto-flow: row;
	gap: 1.5rem;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	list-style: none;
}

.books-gallery article *,
.carousel article[itemtype="https://schema.org/Book"] * {
	line-height: 125%;
}

.books-gallery article a img,
.carousel article[itemtype="https://schema.org/Book"] a img {
	font-size: 0.9rem;
	line-height: 3;
}

.books-gallery article a img::before,
.carousel article[itemtype="https://schema.org/Book"] a img::before {
	content: attr(alt);
	position: absolute;
	inset: 0;
	padding: 5% 10%;
	font-size: 0.85rem;
	line-height: 2;
	color: #121212;
	background-color: #DEDECA;
	border-radius: 4px;
}

.books-gallery article a .placeholder,
.carousel article[itemtype="https://schema.org/Book"] a .placeholder {
	height: 0;
	padding-top: calc(100% * (3 / 2));
}

.books-gallery article a .placeholder::before,
.carousel article[itemtype="https://schema.org/Book"] a .placeholder::before {
	content: attr(data-content);
	position: absolute;
	inset: 5% 10%;
	font-size: 0.85rem;
	line-height: 2;
	color: #121212;
	background-color: #DEDECA;
}

body[data-category="Book Reviews"] .books-gallery article a img::before,
body[data-category="Book Reviews"] .books-gallery article a .placeholder::before {
	background-color: #F8F9FA;
}

article > div[data-item=book-cover],
div.more > a > div {
	position: relative;
	transition: all 0.2s ease-in;
}

article:hover > div[data-item=book-cover],
div.more:hover > a > div {
	transform: translateY(-0.5rem);
}

.books-gallery article .info .title,
.carousel article[itemtype="https://schema.org/Book"] .info .title {
	display: -webkit-box;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	line-clamp: 2; 
	-webkit-box-orient: vertical;
}

/* ================================================================
	14	Tables
================================================================ */

table {
	width: 100%;
	text-align: left;
	line-height: 150%;
	border-collapse: collapse;
}

table tbody tr:nth-of-type(odd) {
	background: #EDEDE2;
}

th, td {
	padding: 0.25rem 0.5rem;
	border: 2px solid #DEDECA;
	vertical-align: text-top;
}

th {
	font-weight: bold;
	background-color: #DEDECA;
}

/* ================================================================
	15	Content Layouts
================================================================ */

#splendid-header + * {
	margin-top: 15vh;
}

body section {
	margin: 0;
	padding: 0;
	width: 100%;
}

body section > * {
	margin: 0 auto;
}

.two-columns, .three-columns, .four-columns, .five-columns, .six-columns {
	margin: 0;
}

ul.two-columns, ul.three-columns, ul.four-columns, ul.five-columns, ul.six-columns,
ol.two-columns, ol.three-columns, ol.four-columns, ol.five-columns, ol.six-columns {
	padding-left: 0;
	list-style: none;
}

.footnotes {
	margin-top: 3rem;
	font-size: 0.85rem;
	border-top: 1px solid #121212;
}

.footnotes > ol, .footnotes > ul {
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding-left: 3rem;
	padding-right: 3rem;
	list-style-position: inside !important;
}

.footnotes > ol > li::marker, .footnotes > ul > li::marker {
	font-weight: bold;
}

.footnotes > ol > li > p, .footnotes > ul > li > p {
	display: inline !important;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

audio, canvas, embed, iframe, img, object, svg, video {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	border-radius: 4px;
}

/* SVG */

main article svg .fill-transparent { fill: none; }
main article svg .fill-red { fill: #F05454; }
main article svg .fill-green { fill: #2CA096; }
main article svg .fill-blue { fill: #30475E; }
main article svg .fill-yellow { fill: #FFC857; }
main article svg .fill-orange { fill: #FF6F59; }
main article svg .fill-stone { fill: #EDEDE2; }
main article svg .fill-sand { fill: #DEDECA; }
main article svg .fill-black { fill: #121212; }
main article svg .fill-white { fill: #F8F9FA; }

main article svg .stroke-transparent { stroke: none; }
main article svg .stroke-red { stroke: #F05454; }
main article svg .stroke-green { stroke: #2CA096; }
main article svg .stroke-blue { stroke: #30475E; }
main article svg .stroke-yellow { stroke: #FFC857; }
main article svg .stroke-orange { stroke: #FF6F59; }
main article svg .stroke-stone { stroke: #EDEDE2; }
main article svg .stroke-sand { stroke: #DEDECA; }
main article svg .stroke-black { stroke: #121212; }
main article svg .stroke-white { stroke: #F8F9FA; }

main article svg .stroke-0 { stroke-width: 0; }
main article svg .stroke { stroke-width: 1px; }
main article svg .stroke-1 { stroke-width: 0.25rem; }
main article svg .stroke-2 { stroke-width: 0.5rem; }

main article svg .stroke-square { stroke-linecap: square; }
main article svg .stroke-round { stroke-linecap: round; }
main article svg .stroke-butt { stroke-linecap: butt; }

.object-cover {
	-o-object-fit: cover;
	object-fit: cover
}

.object-center {
	-o-object-position: center;
	object-position: center;
}

.object-left {
	-o-object-position: left;
	object-position: left;
}

.object-right {
	-o-object-position: right;
	object-position: right;
}

#default h1,
#portfolio h1 { font-family: 'DM Serif Display', 'Cambria', 'Cochin', 'Georgia', 'Times', 'Times New Roman', serif; }

body hr {
	margin: 3rem 0 1rem;
	border: 2px solid #DEDECA;
}

/* Advertisements */

#advertisement {
	font-size: 0.85rem;
	line-height: 1.25;
	color: #121212;
}

#advertisement svg {
	display: inline;
	margin-left: 0;
	margin-right: 0.3rem;
	width: 1.15rem;
	fill: #121212;
}

/* ================================================================
	16	Page Navigation
================================================================ */

.page-nav {
	display: flex;
	width: 100%;
	max-width: 12rem;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.page-nav > a {
	font-size: 1.25rem;
	line-height: 1;
	text-align: center;
}

/* ================================================================
	17	Buttons + Links
================================================================ */

button, .splendid-button, .splendid-cta { line-height: 200%; }

.splendid-button {
	display: inline-block;
	position: relative;
	margin: 0;
	padding: 0.5rem 0.95rem;
	font-size: 1.15rem;
	font-weight: bold;
	font-weight: 700;
	background-color: transparent;
	background-size: 200% 200%;
	background-position: 100%;
	border-width: 3px;
	border-style: solid;
	border-radius: 4px;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.splendid-button.small {
	padding: 0.15rem 0.5rem;
	font-size: 0.85rem;
	border-width: 2px;
}

.splendid-button, .splendid-button.light {
	color: #F8F9FA;
	background-image: linear-gradient(90deg, #F8F9FA 50%, rgba(255,255,255,0) 0);
	border-color: #F8F9FA;
}

.splendid-button.dark {
	color: #121212;
	background-image: linear-gradient(90deg, #121212 50%, rgba(0,0,0,0) 0);
	border-color: #121212;
}

.splendid-button.primary {
	border-left: 5px solid #121212;
	border-width: 5px;
}

.splendid-button:hover {
	color: #121212;
	background-position: 0;
}

.splendid-button.reverse:hover {
	background-position: 199%;
}

.splendid-button.light:hover {
	color: #121212;
}

.splendid-button.dark:hover {
	color: #F8F9FA;
}

a.splendid-cta {
	display: inline-block;
	transition: transform 0.2s ease-out;
}

a.splendid-cta:hover {
	transform: translateX(0.75rem);
}

a.splendid-cta::after {
	content: '\290F';
	margin-left: 0.5rem;
	font-size: 125%;
	line-height: inherit;
}

/* ================================================================
	18	Blockquotes
================================================================ */

blockquote {
	position: relative;
	margin-top: 3rem;
	margin-bottom: 3rem;
	margin-left: -1.75rem;
	margin-right: -1.75rem;
	padding: 2rem 1.5rem;
	font-weight: normal;
	font-weight: 400;
	line-height: 2;
	color: #121212;
	background-color: #DEDECA;
	overflow: visible;
}

blockquote::before {
	content: "“";
	position: absolute;
	top: 0;
	left: 0.75rem;
	font-family: 'DM Serif Display', serif;
	font-size: 9rem;
	font-style: normal;
	font-weight: bold;
	font-weight: 900;
	line-height: 1;
	color: #EDEDE2;
}

blockquote[class*="border"] { border: none; }

blockquote > p {
	position: relative;
	margin: 0 2rem;
	font-size: 1.15rem;
	font-style: italic;
	z-index: 10;
}

blockquote cite {
	position: relative;
	margin: 0;
	font-size: 1rem;
	font-weight: bold;
	font-weight: 900;
	order: 10;
}

blockquote cite::before {
	content: "\2015";
	margin-right: 0.25rem;
}

p > q {
	background-color: #DEDECA;
}

p > q::before, p > q::after {
	font-weight: bold;
}

/* ================================================================
	19	Code Blocks
================================================================ */

body p > code {
	padding: 1px 3px;
	color: #121212;
	background-color: #DEDECA;
	font-weight: bold;
	border-radius: 4px;
}

body p a code { font-weight: bold; }

#splendid figure, #splendid .highlighter-rouge {
	max-width: 60rem;
	margin-top: 3rem;
	margin-bottom: 3rem;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	font-size: 1rem;
}

#splendid h1 > .highlighter-rouge,
#splendid h2 > .highlighter-rouge,
#splendid h3 > .highlighter-rouge,
#splendid h4 > .highlighter-rouge,
#splendid h5 > .highlighter-rouge,
#splendid h6 > .highlighter-rouge {
	font-size: 90%;
	font-weight: inherit;
}

#splendid figure pre, #splendid .highlighter-rouge pre {
	position: relative;
	padding: 0;
	background-color: #121212;
	color: #EDEDE2;
	border-radius: 8px;
	tab-size: 3;
	overflow: hidden;
	box-shadow: 0 5px 35px 0 rgb(0 0 0 / 15%);
}

#splendid figure pre::before, #splendid .highlighter-rouge pre::before {
	content: attr(data-lang);
	position: absolute;
	top: 5px;
	right: 10px;
	font-family: 'Open Sans', 'Roboto', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
	font-size: 1.15rem;
	font-weight: bold;
	font-weight: 900;
	color: rgba(255,255,255,0.4);
	user-select: none;
}

#splendid figure pre code, #splendid .highlighter-rouge pre code {
	display: block;
	position: relative;
	padding: 2rem;
	font-size: 0.9rem;
	line-height: 150%;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	overflow-x: scroll;
}

#splendid figure pre code table tr, #splendid .highlighter-rouge pre code table tr {
	background-color: transparent !important;
	border-top: none !important;
	border-right: none !important;
	border-bottom: none !important;
	border-left: none !important;
}

#splendid figure pre code table tr td, #splendid .highlighter-rouge pre code table tr td {
	display: table-cell !important;
}

#splendid figure pre code.language-html,
#splendid .highlighter-rouge.language-html pre code {
	border-left-color: #E34F26;
}

#splendid figure pre code.language-css,
#splendid .highlighter-rouge.language-css pre code {
	border-left-color: #264DE4;
}

#splendid figure pre code.language-javascript,
#splendid .highlighter-rouge.language-javascript pre code {
	border-left-color: #F7DF1E;
}

#splendid figure pre code.language-ruby,
#splendid .highlighter-rouge.language-ruby pre code {
	border-left-color: #CC342D;
}

#splendid figure pre code.language-php,
#splendid .highlighter-rouge.language-php pre code {
	border-left-color: #8892BE;
}

#splendid figure pre code.language-git,
#splendid .highlighter-rouge.language-git pre code {
	border-left-color: #F1502F;
}

#splendid figure pre code.language-sass,
#splendid .highlighter-rouge.language-sass pre code {
	border-left-color: #CD6799;
}

#splendid figure pre code.language-sql,
#splendid .highlighter-rouge.language-sql pre code {
	border-left-color: #00758F;
}

#splendid figure pre code.language-liquid,
#splendid .highlighter-rouge.language-liquid pre code {
	border-left-color: #000099;
}

#splendid figure pre code.language-console,
#splendid .highlighter-rouge.language-console pre code {
	border-left-color: #FFFFFF;
}

/* ================================================================
	20	Utilities
================================================================ */

.block { display: block !important; }
.inline { display: inline !important; }
.hidden, *.print-only { display: none !important; }

.sticky {
	position: fixed !important;
	left: 0 !important;
	right: 0 !important;
}

.scroll-style::-webkit-scrollbar { width: 20px; } 
.scroll-style::-webkit-scrollbar-track { background: transparent; }
.scroll-style::-webkit-scrollbar-thumb { background: rgba(0,0,0,0.25); }
.scroll-style::-webkit-scrollbar-thumb:hover { background: rgba(0,0,0,0.5); }

.shadow { box-shadow: 0 5px 35px 0 rgb(0 0 0 / 15%); }
.pointer { cursor: pointer; }

img[src=""] { display: none !important; }
.rounded, img.rounded, img.rounded * { border-radius: 4px !important; }
.round, img.round { border-radius: 30px !important; }
.tl-rounded { border-top-left-radius: 4px; }
.tr-rounded { border-top-right-radius: 4px; }
.bl-rounded { border-bottom-left-radius: 4px; }
.br-rounded { border-bottom-right-radius: 4px; }
.tl-round { border-top-left-radius: 30px; }
.tr-round { border-top-right-radius: 30px; }
.bl-round { border-bottom-left-radius: 30px; }
.br-round { border-bottom-right-radius: 30px; }

.list-none { padding: 0; list-style: none; }

.capitalize { text-transform: capitalize !important; }
.lowercase { text-transform: lowercase !important; }
.uppercase { text-transform: uppercase !important; }

.text-left { text-align: left !important; }
.text-center { text-align: center !important; }
.text-right { text-align: right !important; }

/* Opacity */

.opacity-0 { opacity: 0 !important; }
.opacity-25 { opacity: 25% !important; }
.opacity-50 { opacity: 50% !important; }
.opacity-75 { opacity: 75% !important; }
.opacity-100 { opacity: 100% !important; }

/* Transition */

* {
	-webkit-transition: filter 0.5s ease-in-out;
	-o-transition: filter 0.5s ease-in-out;
	-moz-transition: filter 0.5s ease-in-out;
	transition: filter 0.5s ease-in-out;
}

.transition-fade {
	-webkit-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}

/* Borders */

.border-0 { border-width: 0; }
.border { border-width: 1px; }
.border-1 { border-width: 0.25rem; }
.border-2 { border-width: 0.5rem; }
.border-3 { border-width: 0.75rem; }
.border-4 { border-width: 1rem; }

.border-t-0 { border-top-width: 0; }
.border-t { border-top-width: 1px; }
.border-t-1 { border-top-width: 0.25rem; }
.border-t-2 { border-top-width: 0.5rem; }
.border-t-3 { border-top-width: 0.75rem; }
.border-t-4 { border-top-width: 1rem; }

.border-b-0 { border-bottom-width: 0; }
.border-b { border-bottom-width: 1px; }
.border-b-1 { border-bottom-width: 0.25rem; }
.border-b-2 { border-bottom-width: 0.5rem; }
.border-b-3 { border-bottom-width: 0.75rem; }
.border-b-4 { border-bottom-width: 1rem; }

.border-l-0 { border-left-width: 0; }
.border-l { border-left-width: 1px; }
.border-l-1 { border-left-width: 0.25rem; }
.border-l-2 { border-left-width: 0.5rem; }
.border-l-3 { border-left-width: 0.75rem; }
.border-l-4 { border-left-width: 1rem; }

.border-r-0 { border-right-width: 0; }
.border-r { border-right-width: 1px; }
.border-r-1 { border-right-width: 0.25rem; }
.border-r-2 { border-right-width: 0.5rem; }
.border-r-3 { border-right-width: 0.75rem; }
.border-r-4 { border-right-width: 1rem; }

.border-none { border-style: none; }
.border-solid { border-style: solid; }
.border-dashed { border-style: dashed; }
.border-dotted { border-style: dotted; }
.border-double { border-style: double; }

.border-t-none { border-top-style: none; }
.border-t-solid { border-top-style: solid; }
.border-t-dashed { border-top-style: dashed; }
.border-t-dotted { border-top-style: dotted; }
.border-t-double { border-top-style: double; }

.border-b-none { border-bottom-style: none; }
.border-b-solid { border-bottom-style: solid; }
.border-b-dashed { border-bottom-style: dashed; }
.border-b-dotted { border-bottom-style: dotted; }
.border-b-double { border-bottom-style: double; }

.border-l-none { border-left-style: none; }
.border-l-solid { border-left-style: solid; }
.border-l-dashed { border-left-style: dashed; }
.border-l-dotted { border-left-style: dotted; }
.border-l-double { border-left-style: double; }

.border-r-none { border-right-style: none; }
.border-r-solid { border-right-style: solid; }
.border-r-dashed { border-right-style: dashed; }
.border-r-dotted { border-right-style: dotted; }
.border-r-double { border-right-style: double; }

.border-red { border-color: #F05454; }
.border-green { border-color: #2CA096; }
.border-blue { border-color: #30475E; }
.border-yellow { border-color: #FFC857; }
.border-orange { border-color: #FF6F59; }
.border-stone { border-color: #EDEDE2; }
.border-sand { border-color: #DEDECA; }
.border-black { border-color: #121212; }
.border-white { border-color: #F8F9FA; }

/* Stack Order */

.z-0 { z-index: 0; }
.z-10 { z-index: 10; }
.z-20 { z-index: 20; }
.z-30 { z-index: 30; }
.z-40 { z-index: 40; }
.z-50 { z-index: 50; }

/* ================================================================
	21	Footer
================================================================ */

#footer {
	display: block;
	position: sticky;
	top: 100vh;
	margin: 0;
	padding: 0;
	width: 100%;
}

#footer > * {
	display: flex;
	margin: 0 auto;
	width: calc(100% - 3rem);
	row-gap: 1.5rem;
	column-gap: calc(40% - (100% / 3));
	flex-flow: row wrap;
	font-size: 1rem;
	line-height: 2;
}

#footer .text-white {
	color: rgba(248,249,250,0.75);
}

#footer .text-black {
	color: rgba(18,18,18,0.75);
}

#footer a {
	color: inherit;
	text-decoration: none;
}

/* ================================================================
	22	Responsive
================================================================ */