header {
	z-index: 9999999;
}

header.sticky {
	top: 0;
}

header .splendid-logo .branding svg {
	-webkit-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}

header .splendid-logo .branding:hover svg #logomark {
	stroke: #121212;
}

svg#icon_checkmark {
	stroke: #2CA096;
}

div svg path.draw,
div svg polyline.draw {
	fill: none;
	stroke-miterlimit:4;
	/* stroke-dasharray:300; */
	stroke-dashoffset:300;
	stroke-opacity:1;
	-webkit-animation: draw 1.2s ease-in 0s 1 running;
	animation: draw 1.2s ease-in 0s 1 running;
	-webkit-transition: stroke 0.15s ease-in-out;
	-o-transition: stroke 0.15s ease-in-out;
	-moz-transition: stroke 0.15s ease-in-out;
	transition: stroke 0.15s ease-in-out;
}

.hero-section > picture > img {
	object-position: 100% 25%;
}

.hero-section .splendid-button.small {
	padding: 0.15rem 0.5rem;
	font-size: 0.85rem;
	border-width: 2px;
}

.strengths-section svg {
	width: 100px;
}

.strengths-section svg > * {
	stroke-linecap: round;
	stroke-linejoin: round;
}

#splendid .feature-tabs .features-content-container > div[data-type] {
	display: none;
}

#splendid .feature-tabs .features-tabs-container:has(input:first-of-type:checked) ~ .features-content-container > div[data-type]:first-of-type,
#splendid .feature-tabs .features-tabs-container:has(input:nth-of-type(2):checked) ~ .features-content-container > div[data-type]:nth-of-type(2),
#splendid .feature-tabs .features-tabs-container:has(input:nth-of-type(3):checked) ~ .features-content-container > div[data-type]:nth-of-type(3),
#splendid .feature-tabs .features-tabs-container:has(input:nth-of-type(4):checked) ~ .features-content-container > div[data-type]:nth-of-type(4),
#splendid .feature-tabs .features-tabs-container:has(input:nth-of-type(5):checked) ~ .features-content-container > div[data-type]:nth-of-type(5),
#splendid .feature-tabs .features-tabs-container:has(input:nth-of-type(6):checked) ~ .features-content-container > div[data-type]:nth-of-type(6),
#splendid .feature-tabs .features-tabs-container:has(input:nth-of-type(7):checked) ~ .features-content-container > div[data-type]:nth-of-type(7),
#splendid .feature-tabs .features-tabs-container:has(input:nth-of-type(8):checked) ~ .features-content-container > div[data-type]:nth-of-type(8),
#splendid .feature-tabs .features-tabs-container:has(input:nth-of-type(9):checked) ~ .features-content-container > div[data-type]:nth-of-type(9),
#splendid .feature-tabs .features-tabs-container:has(input:nth-of-type(10):checked) ~ .features-content-container > div[data-type]:nth-of-type(10) {
	display: block;
}

#splendid #proficiencies figure {
	margin-top: 0;
}

#splendid #proficiencies figure pre {
	max-height: 480px;
	margin-top: 0;
	tab-size: 2;
}

#splendid #proficiencies figure pre code {
	padding: 1rem 0 0;
	font-size: 0.9rem;
	overflow-x: hidden;
}

#splendid #proficiencies .features-tabs-container .feature-tab {
	background-color: transparent;
	border-width: 2px;
	border-style: solid;
	border-color: transparent;
}

#splendid .features-tabs-container .feature-tab:hover,
#splendid .feature-tabs .features-tabs-container input:checked + .feature-tab {
	background-color: #F8F9FA;
	border-color: #DEDECA;
	cursor: default;
}

#splendid #proficiencies .features-tabs-container .feature-tab div[class~="icon-wrap"] {
	width: 2rem;
	height: 2rem;
}

#splendid #proficiencies .features-tabs-container .feature-tab div svg {
	width: 100%;
	max-width: 22px;
	height: 100%;
	max-height: 22px;
}

@media screen and (min-width: 600px) {
	.hero-section > picture > img {
		object-position: 100% 10%;
	}
	.hero-section header > * {
		max-width: 25rem;
	}
	.hero-section .splendid-button.small {
		padding: 0.5rem 0.95rem;
		font-size: 1.15rem;
		border-width: 3px;
	}
}

@media screen and (min-width: 900px) {
	.hero-section > picture > img {
		object-position: 100% 5%;
	}
	.hero-section header > * {
		max-width: 30rem;
	}
	#splendid #proficiencies figure pre {
		max-height: 600px;
	}
	#splendid #proficiencies figure pre code {
		font-size: 1.15rem;
	}
	#splendid #proficiencies .features-tabs-container .feature-tab div svg {
		max-width: 28px;
		max-height: 28px;
	}
}

@media screen and (min-width: 1200px) {
	.hero-section > picture > img {
		object-position: 100% 15%;
	}
}