body#portfolio {
	background: linear-gradient(160deg, #EDEDE2 40%, #DEDECA 60%);
}

body#portfolio[class^="portfolio-"] {
	background: linear-gradient(160deg, #44596e 40%, #30475e 60%);
}

#portfolio h1,
#portfolio nav#breadcrumb ol {
	width: calc(100% - 5rem);
}

#portfolio nav#breadcrumb ol {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 0 !important;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
    flex-direction: row;
	list-style-type: none !important;
}

#portfolio nav#breadcrumb ol > li:not(:last-child):after {
	content: "//";
	padding: 0 0.25rem;
	font-size: 0.85rem !important;
}

#portfolio nav#breadcrumb ol > li a {
	color: #F8F9FA;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#portfolio nav#breadcrumb ol > li a:hover {
	color: #F9D423;
}

#portfolio a > .overlay {
	opacity: 100%;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#portfolio a:hover > .overlay {
	opacity: 75%;
}

#portfolio .projects {
	row-gap: 4rem;
}

#portfolio .projects .project {
	flex-basis: 100%;
}

#portfolio article.project p:first-child {
	margin-top: 0 !important;
}

#portfolio article.project p:last-child {
	margin-bottom: 0 !important;
}

#portfolio .projects > .project > footer,
#portfolio .project footer { column-gap: 2rem; }

#portfolio .projects > .project > footer a,
#portfolio .project footer a {
	border-radius: 50%;
	-webkit-transition: transform 0.3s ease-in-out;
	-o-transition: transform 0.3s ease-in-out;
	-moz-transition: transform 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out;
}

#portfolio .projects > .project > footer a:hover,
#portfolio .project footer a:hover {
	transform: translateY(-5px);
}

#portfolio .projects {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

#portfolio .projects article.project {
	height: fit-content;
}

@media screen and (min-width: 600px) {
	#portfolio .projects {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
	}

	#portfolio .projects .project {
		flex-basis: 48%;
	}

	#portfolio nav#breadcrumb ol > li:not(:last-child):after {
		content: "//";
		padding: 0 0.5rem;
		font-size: 1rem !important;
	}
}

@media screen and (min-width: 900px) {
	#portfolio .projects .project {
		flex-basis: 30%;
	}
}

#portfolio .projects > .project > footer svg,
#portfolio .project footer svg {
	width: 22px;
}

.scroll-img-container {
	width: auto;
	height: 350px;
	position: relative;
	background: transparent;
	overflow: hidden;
}

.img-container {
	width: auto;
	height: 350px;
	position: relative;
	background: transparent;
	overflow: scroll;
}

.scroll-img-container > picture,
.img-container > picture {
	display: block;
	height: auto;
	overflow: hidden;
}

.scroll-img-container:hover picture {
	cursor: pointer;
	transform: translateY(calc(-100% + 260px));
}