#portfolio .projects {
	row-gap: 4rem;
}

#portfolio .projects .project {
	flex-basis: 48%;
}

#portfolio .projects > .project > footer { column-gap: 2rem; }

#portfolio .projects > .project > footer a {
	border-radius: 50%;
	-webkit-transition: transform 0.3s ease-in-out;
	-o-transition: transform 0.3s ease-in-out;
	-moz-transition: transform 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out;
}

#portfolio .projects > .project > footer a:hover {
	transform: translateY(-5px);
}

#portfolio .projects {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

@media screen and (min-width: 600px) {
	#portfolio .projects {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
	}
}

#portfolio .projects > .project > footer svg {
	width: 22px;
}

.scroll-img-container {
	width: auto;
	height: 288px;
	position: relative;
	background: pink;
	overflow: hidden;
}

.scroll-img-container > picture {
	display: block;
	width: 85%;
	height: auto;
	margin: 20px auto;
	overflow: hidden;
	transition: transform 2000ms linear;
}

.scroll-img-container:hover picture {
	cursor: s-resize;
	transform: translateY(calc(-100% + 260px));
}