/* ----------------------------------------------------------------
TABLE OF CONTENTS
	2	Typography
	10	Single Post
	12	Gallery Layouts
	19	Utilities
	21	Responsive
			21.1	Display / Position / Overflow
			21.2	Width
			21.3	Margin
			21.4	Padding
---------------------------------------------------------------- */

/* ================================================================
	2	Typography
================================================================ */

body *.xl\:text-xs { font-size: 0.85rem !important; }
body *.xl\:text-sm { font-size: 1rem !important; }
body *.xl\:text-lg { font-size: 1.5rem !important; }
body *.xl\:text-xl { font-size: 1.75rem !important; }
body *.xl\:text-2xl { font-size: 2rem !important; }
body *.xl\:text-3xl { font-size: 2.5rem !important; }
body *.xl\:text-4xl { font-size: 3rem !important; }

/* ================================================================
	10	Single Post
================================================================ */

#post article .card,
#book-review article .card {
	margin: unset;
	width: unset;
}

#post article .card {
	flex-direction: row;
}

#post article header + picture {
	margin-left: -4rem;
}

#post article header + picture.absolute {
	inset: -2rem 3rem -2rem 65%;
}

#post article > ol, #post article > ul {
	padding-left: 9rem;
	padding-right: 3rem;
}

/* ================================================================
	12	Gallery Layouts
================================================================ */

/* Cards Gallery */

.cards-gallery {
	-ms-grid-columns: (1fr)[3];
	grid-template-columns: repeat(3, 1fr);
}

/* ================================================================
	19	Utilities
================================================================ */

.xl\:rounded, img.xl\:rounded, img.xl\:rounded * { border-radius: 4px !important; }

/* ================================================================
	21	Responsive
================================================================ */

/* ================================================================
	21.1	Display / Position / Overflow
================================================================ */

.xl\:splendid-block { display: block; }
.xl\:splendid-inline { display: inline; }
.xl\:splendid-flex { display: -webkit-box; display: -ms-flexbox; display: flex; }
.xl\:splendid-grid { display: -ms-grid; display: grid; }
.xl\:splendid-table { display: table; }

.xl\:static { position: static; }
.xl\:relative { position: relative; }
.xl\:absolute { position: absolute; }
.xl\:fixed { position: fixed; }
.xl\:inset-0, .inset-x-0 { left: 0; right: 0; }
.xl\:inset-0, .inset-y-0 { top: 0; bottom: 0; }
.xl\:left-0 { left: 0; }
.xl\:right-0 { right: 0; }
.xl\:top-0 { top: 0; }
.xl\:bottom-0 { bottom: 0; }

.xl\:overflow-hidden { overflow: hidden; }
.xl\:overflow-scroll { overflow: scroll; }
.xl\:overflow-visible { overflow: visible; }

/* ================================================================
	21.2	Width
================================================================ */

.xl\:w-auto { width: auto; }
.xl\:w-100, .xl\:w-full { width: 100%;}
.xl\:w-90 { width: 90%; }
.xl\:w-80 { width: 80%; }
.xl\:w-75 { width: 75%; }
.xl\:w-70 { width: 70%; }
.xl\:w-66 { width: 66.6666%; width: calc(200% / 3); }
.xl\:w-60 { width: 60%; }
.xl\:w-50, .xl\:w-half { width: 50%; }
.xl\:w-40 { width: 40%; }
.xl\:w-33 { width: 33.3333%; width: calc(100% / 3); }
.xl\:w-30 { width: 30%; }
.xl\:w-25 { width: 25%; }
.xl\:w-20 { width: 20%; }
.xl\:w-10 { width: 10%; }

/* ================================================================
	21.3	Margin
================================================================ */

.xl\:m-0 { margin: 0 !important; }
.xl\:m-1 { margin: 0.25rem !important; }
.xl\:m-2 { margin: 0.5rem !important; }
.xl\:m-3 { margin: 0.75rem !important; }
.xl\:m-4 { margin: 1rem !important; }
.xl\:m-5 { margin: 1.25rem !important; }
.xl\:m-6 { margin: 1.5rem !important; }
.xl\:m-7 { margin: 1.75rem !important; }
.xl\:m-8 { margin: 2rem !important; }
.xl\:m-9 { margin: 2.25rem !important; }
.xl\:m-10 { margin: 2.5rem !important; }
.xl\:m-11 { margin: 2.75rem !important; }
.xl\:m-12 { margin: 3rem !important; }
.xl\:m-13 { margin: 3.25rem !important; }
.xl\:m-14 { margin: 3.5rem !important; }
.xl\:m-15 { margin: 3.75rem !important; }
.xl\:m-16 { margin: 4rem !important; }
.xl\:m-17 { margin: 4.25rem !important; }
.xl\:m-18 { margin: 4.5rem !important; }
.xl\:m-19 { margin: 4.75rem !important; }
.xl\:m-20 { margin: 5rem !important; }
.xl\:m-21 { margin: 5.25rem !important; }
.xl\:m-22 { margin: 5.5rem !important; }
.xl\:m-23 { margin: 5.75rem !important; }
.xl\:m-24 { margin: 6rem !important; }
.xl\:m-25 { margin: 6.25rem !important; }
.xl\:m-26 { margin: 6.5rem !important; }
.xl\:m-27 { margin: 6.75rem !important; }
.xl\:m-28 { margin: 7rem !important; }
.xl\:m-29 { margin: 7.25rem !important; }
.xl\:m-30 { margin: 7.5rem !important; }
.xl\:m-31 { margin: 7.75rem !important; }
.xl\:m-32 { margin: 8rem !important; }
.xl\:m-33 { margin: 8.25rem !important; }
.xl\:m-34 { margin: 8.5rem !important; }
.xl\:m-35 { margin: 8.75rem !important; }
.xl\:m-36 { margin: 9rem !important; }
.xl\:m-37 { margin: 9.25rem !important; }
.xl\:m-38 { margin: 9.5rem !important; }
.xl\:m-39 { margin: 9.75rem !important; }
.xl\:m-40 { margin: 10rem !important; }

.xl\:my-0 { margin-top: 0 !important; margin-bottom: 0 !important; }
.xl\:my-1 { margin-top: 0.25rem !important; margin-bottom: 0.25rem !important; }
.xl\:my-2 { margin-top: 0.5rem !important; margin-bottom: 0.5rem !important; }
.xl\:my-3 { margin-top: 0.75rem !important; margin-bottom: 0.75rem !important; }
.xl\:my-4 { margin-top: 1rem !important; margin-bottom: 1rem !important; }
.xl\:my-5 { margin-top: 1.25rem !important; margin-bottom: 1.25rem !important; }
.xl\:my-6 { margin-top: 1.5rem !important; margin-bottom: 1.5rem !important; }
.xl\:my-7 { margin-top: 1.75rem !important; margin-bottom: 1.75rem !important; }
.xl\:my-8 { margin-top: 2rem !important; margin-bottom: 2rem !important; }
.xl\:my-9 { margin-top: 2.25rem !important; margin-bottom: 2.25rem !important; }
.xl\:my-10 { margin-top: 2.5rem !important; margin-bottom: 2.5rem !important; }
.xl\:my-11 { margin-top: 2.75rem !important; margin-bottom: 2.75rem !important; }
.xl\:my-12 { margin-top: 3rem !important; margin-bottom: 3rem !important; }
.xl\:my-13 { margin-top: 3.25rem !important; margin-bottom: 3.25rem !important; }
.xl\:my-14 { margin-top: 3.5rem !important; margin-bottom: 3.5rem !important; }
.xl\:my-15 { margin-top: 3.75rem !important; margin-bottom: 3.75rem !important; }
.xl\:my-16 { margin-top: 4rem !important; margin-bottom: 4rem !important; }
.xl\:my-17 { margin-top: 4.25rem !important; margin-bottom: 4.25rem !important; }
.xl\:my-18 { margin-top: 4.5rem !important; margin-bottom: 4.5rem !important; }
.xl\:my-19 { margin-top: 4.75rem !important; margin-bottom: 4.75rem !important; }
.xl\:my-20 { margin-top: 5rem !important; margin-bottom: 5rem !important; }
.xl\:my-21 { margin-top: 5.25rem !important; margin-bottom: 5.25rem !important; }
.xl\:my-22 { margin-top: 5.5rem !important; margin-bottom: 5.5rem !important; }
.xl\:my-23 { margin-top: 5.75rem !important; margin-bottom: 5.75rem !important; }
.xl\:my-24 { margin-top: 6rem !important; margin-bottom: 6rem !important; }
.xl\:my-25 { margin-top: 6.25rem !important; margin-bottom: 6.25rem !important; }
.xl\:my-26 { margin-top: 6.5rem !important; margin-bottom: 6.5rem !important; }
.xl\:my-27 { margin-top: 6.75rem !important; margin-bottom: 6.75rem !important; }
.xl\:my-28 { margin-top: 7rem !important; margin-bottom: 7rem !important; }
.xl\:my-29 { margin-top: 7.25rem !important; margin-bottom: 7.25rem !important; }
.xl\:my-30 { margin-top: 7.5rem !important; margin-bottom: 7.5rem !important; }
.xl\:my-31 { margin-top: 7.75rem !important; margin-bottom: 7.75rem !important; }
.xl\:my-32 { margin-top: 8rem !important; margin-bottom: 8rem !important; }
.xl\:my-33 { margin-top: 8.25rem !important; margin-bottom: 8.25rem !important; }
.xl\:my-34 { margin-top: 8.5rem !important; margin-bottom: 8.5rem !important; }
.xl\:my-35 { margin-top: 8.75rem !important; margin-bottom: 8.75rem !important; }
.xl\:my-36 { margin-top: 9rem !important; margin-bottom: 9rem !important; }
.xl\:my-37 { margin-top: 9.25rem !important; margin-bottom: 9.25rem !important; }
.xl\:my-38 { margin-top: 9.5rem !important; margin-bottom: 9.5rem !important; }
.xl\:my-39 { margin-top: 9.75rem !important; margin-bottom: 9.75rem !important; }
.xl\:my-40 { margin-top: 10rem !important; margin-bottom: 10rem !important; }

.xl\:mt-0 { margin-top: 0 !important; }
.xl\:mt-1 { margin-top: 0.25rem !important; }
.xl\:mt-2 { margin-top: 0.5rem !important; }
.xl\:mt-3 { margin-top: 0.75rem !important; }
.xl\:mt-4 { margin-top: 1rem !important; }
.xl\:mt-5 { margin-top: 1.25rem !important; }
.xl\:mt-6 { margin-top: 1.5rem !important; }
.xl\:mt-7 { margin-top: 1.75rem !important; }
.xl\:mt-8 { margin-top: 2rem !important; }
.xl\:mt-9 { margin-top: 2.25rem !important; }
.xl\:mt-10 { margin-top: 2.5rem !important; }
.xl\:mt-11 { margin-top: 2.75rem !important; }
.xl\:mt-12 { margin-top: 3rem !important; }
.xl\:mt-13 { margin-top: 3.25rem !important; }
.xl\:mt-14 { margin-top: 3.5rem !important; }
.xl\:mt-15 { margin-top: 3.75rem !important; }
.xl\:mt-16 { margin-top: 4rem !important; }
.xl\:mt-17 { margin-top: 4.25rem !important; }
.xl\:mt-18 { margin-top: 4.5rem !important; }
.xl\:mt-19 { margin-top: 4.75rem !important; }
.xl\:mt-20 { margin-top: 5rem !important; }
.xl\:mt-21 { margin-top: 5.25rem !important; }
.xl\:mt-22 { margin-top: 5.5rem !important; }
.xl\:mt-23 { margin-top: 5.75rem !important; }
.xl\:mt-24 { margin-top: 6rem !important; }
.xl\:mt-25 { margin-top: 6.25rem !important; }
.xl\:mt-26 { margin-top: 6.5rem !important; }
.xl\:mt-27 { margin-top: 6.75rem !important; }
.xl\:mt-28 { margin-top: 7rem !important; }
.xl\:mt-29 { margin-top: 7.25rem !important; }
.xl\:mt-30 { margin-top: 7.5rem !important; }
.xl\:mt-31 { margin-top: 7.75rem !important; }
.xl\:mt-32 { margin-top: 8rem !important; }
.xl\:mt-33 { margin-top: 8.25rem !important; }
.xl\:mt-34 { margin-top: 8.5rem !important; }
.xl\:mt-35 { margin-top: 8.75rem !important; }
.xl\:mt-36 { margin-top: 9rem !important; }
.xl\:mt-37 { margin-top: 9.25rem !important; }
.xl\:mt-38 { margin-top: 9.5rem !important; }
.xl\:mt-39 { margin-top: 9.75rem !important; }
.xl\:mt-40 { margin-top: 10rem !important; }
.xl\:mt-1\/20 { margin-top: 5% !important; }
.xl\:mt-1\/8 { margin-top: 12.5% !important; }
.xl\:mt-1\/4 { margin-top: 25% !important; }

.xl\:mb-0 { margin-bottom: 0 !important; }
.xl\:mb-1 { margin-bottom: 0.25rem !important; }
.xl\:mb-2 { margin-bottom: 0.5rem !important; }
.xl\:mb-3 { margin-bottom: 0.75rem !important; }
.xl\:mb-4 { margin-bottom: 1rem !important; }
.xl\:mb-5 { margin-bottom: 1.25rem !important; }
.xl\:mb-6 { margin-bottom: 1.5rem !important; }
.xl\:mb-7 { margin-bottom: 1.75rem !important; }
.xl\:mb-8 { margin-bottom: 2rem !important; }
.xl\:mb-9 { margin-bottom: 2.25rem !important; }
.xl\:mb-10 { margin-bottom: 2.5rem !important; }
.xl\:mb-11 { margin-bottom: 2.75rem !important; }
.xl\:mb-12 { margin-bottom: 3rem !important; }
.xl\:mb-13 { margin-bottom: 3.25rem !important; }
.xl\:mb-14 { margin-bottom: 3.5rem !important; }
.xl\:mb-15 { margin-bottom: 3.75rem !important; }
.xl\:mb-16 { margin-bottom: 4rem !important; }
.xl\:mb-17 { margin-bottom: 4.25rem !important; }
.xl\:mb-18 { margin-bottom: 4.5rem !important; }
.xl\:mb-19 { margin-bottom: 4.75rem !important; }
.xl\:mb-20 { margin-bottom: 5rem !important; }
.xl\:mb-21 { margin-bottom: 5.25rem !important; }
.xl\:mb-22 { margin-bottom: 5.5rem !important; }
.xl\:mb-23 { margin-bottom: 5.75rem !important; }
.xl\:mb-24 { margin-bottom: 6rem !important; }
.xl\:mb-25 { margin-bottom: 6.25rem !important; }
.xl\:mb-26 { margin-bottom: 6.5rem !important; }
.xl\:mb-27 { margin-bottom: 6.75rem !important; }
.xl\:mb-28 { margin-bottom: 7rem !important; }
.xl\:mb-29 { margin-bottom: 7.25rem !important; }
.xl\:mb-30 { margin-bottom: 7.5rem !important; }
.xl\:mb-31 { margin-bottom: 7.75rem !important; }
.xl\:mb-32 { margin-bottom: 8rem !important; }
.xl\:mb-33 { margin-bottom: 8.25rem !important; }
.xl\:mb-34 { margin-bottom: 8.5rem !important; }
.xl\:mb-35 { margin-bottom: 8.75rem !important; }
.xl\:mb-36 { margin-bottom: 9rem !important; }
.xl\:mb-37 { margin-bottom: 9.25rem !important; }
.xl\:mb-38 { margin-bottom: 9.5rem !important; }
.xl\:mb-39 { margin-bottom: 9.75rem !important; }
.xl\:mb-40 { margin-bottom: 10rem !important; }
.xl\:mb-1\/20 { margin-bottom: 5% !important; }
.xl\:mb-1\/8 { margin-bottom: 12.5% !important; }
.xl\:mb-1\/4 { margin-bottom: 25% !important; }

.xl\:mx-0 { margin-left: 0 !important; margin-right: 0 !important; }
.xl\:mx-1 { margin-left: 0.25rem !important; margin-right: 0.25rem !important; }
.xl\:mx-2 { margin-left: 0.5rem !important; margin-right: 0.5rem !important; }
.xl\:mx-3 { margin-left: 0.75rem !important; margin-right: 0.75rem !important; }
.xl\:mx-4 { margin-left: 1rem !important; margin-right: 1rem !important; }
.xl\:mx-5 { margin-left: 1.25rem !important; margin-right: 1.25rem !important; }
.xl\:mx-6 { margin-left: 1.5rem !important; margin-right: 1.5rem !important; }
.xl\:mx-7 { margin-left: 1.75rem !important; margin-right: 1.75rem !important; }
.xl\:mx-8 { margin-left: 2rem !important; margin-right: 2rem !important; }
.xl\:mx-9 { margin-left: 2.25rem !important; margin-right: 2.25rem !important; }
.xl\:mx-10 { margin-left: 2.5rem !important; margin-right: 2.5rem !important; }
.xl\:mx-11 { margin-left: 2.75rem !important; margin-right: 2.75rem !important; }
.xl\:mx-12 { margin-left: 3rem !important; margin-right: 3rem !important; }
.xl\:mx-13 { margin-left: 3.25rem !important; margin-right: 3.25rem !important; }
.xl\:mx-14 { margin-left: 3.5rem !important; margin-right: 3.5rem !important; }
.xl\:mx-15 { margin-left: 3.75rem !important; margin-right: 3.75rem !important; }
.xl\:mx-16 { margin-left: 4rem !important; margin-right: 4rem !important; }
.xl\:mx-17 { margin-left: 4.25rem !important; margin-right: 4.25rem !important; }
.xl\:mx-18 { margin-left: 4.5rem !important; margin-right: 4.5rem !important; }
.xl\:mx-19 { margin-left: 4.75rem !important; margin-right: 4.75rem !important; }
.xl\:mx-20 { margin-left: 5rem !important; margin-right: 5rem !important; }
.xl\:mx-21 { margin-left: 5.25rem !important; margin-right: 5.25rem !important; }
.xl\:mx-22 { margin-left: 5.5rem !important; margin-right: 5.5rem !important; }
.xl\:mx-23 { margin-left: 5.75rem !important; margin-right: 5.75rem !important; }
.xl\:mx-24 { margin-left: 6rem !important; margin-right: 6rem !important; }
.xl\:mx-25 { margin-left: 6.25rem !important; margin-right: 6.25rem !important; }
.xl\:mx-26 { margin-left: 6.5rem !important; margin-right: 6.5rem !important; }
.xl\:mx-27 { margin-left: 6.75rem !important; margin-right: 6.75rem !important; }
.xl\:mx-28 { margin-left: 7rem !important; margin-right: 7rem !important; }
.xl\:mx-29 { margin-left: 7.25rem !important; margin-right: 7.25rem !important; }
.xl\:mx-30 { margin-left: 7.5rem !important; margin-right: 7.5rem !important; }
.xl\:mx-31 { margin-left: 7.75rem !important; margin-right: 7.75rem !important; }
.xl\:mx-32 { margin-left: 8rem !important; margin-right: 8rem !important; }
.xl\:mx-33 { margin-left: 8.25rem !important; margin-right: 8.25rem !important; }
.xl\:mx-34 { margin-left: 8.5rem !important; margin-right: 8.5rem !important; }
.xl\:mx-35 { margin-left: 8.75rem !important; margin-right: 8.75rem !important; }
.xl\:mx-36 { margin-left: 9rem !important; margin-right: 9rem !important; }
.xl\:mx-37 { margin-left: 9.25rem !important; margin-right: 9.25rem !important; }
.xl\:mx-38 { margin-left: 9.5rem !important; margin-right: 9.5rem !important; }
.xl\:mx-39 { margin-left: 9.75rem !important; margin-right: 9.75rem !important; }
.xl\:mx-40 { margin-left: 10rem !important; margin-right: 10rem !important; }
.xl\:mx-auto { margin-left: auto !important; margin-right: auto !important; }

.xl\:ml-0 { margin-left: 0 !important; }
.xl\:ml-1 { margin-left: 0.25rem !important; }
.xl\:ml-2 { margin-left: 0.5rem !important; }
.xl\:ml-3 { margin-left: 0.75rem !important; }
.xl\:ml-4 { margin-left: 1rem !important; }
.xl\:ml-5 { margin-left: 1.25rem !important; }
.xl\:ml-6 { margin-left: 1.5rem !important; }
.xl\:ml-7 { margin-left: 1.75rem !important; }
.xl\:ml-8 { margin-left: 2rem !important; }
.xl\:ml-9 { margin-left: 2.25rem !important; }
.xl\:ml-10 { margin-left: 2.5rem !important; }
.xl\:ml-11 { margin-left: 2.75rem !important; }
.xl\:ml-12 { margin-left: 3rem !important; }
.xl\:ml-13 { margin-left: 3.25rem !important; }
.xl\:ml-14 { margin-left: 3.5rem !important; }
.xl\:ml-15 { margin-left: 3.75rem !important; }
.xl\:ml-16 { margin-left: 4rem !important; }
.xl\:ml-17 { margin-left: 4.25rem !important; }
.xl\:ml-18 { margin-left: 4.5rem !important; }
.xl\:ml-19 { margin-left: 4.75rem !important; }
.xl\:ml-20 { margin-left: 5rem !important; }
.xl\:ml-21 { margin-left: 5.25rem !important; }
.xl\:ml-22 { margin-left: 5.5rem !important; }
.xl\:ml-23 { margin-left: 5.75rem !important; }
.xl\:ml-24 { margin-left: 6rem !important; }
.xl\:ml-25 { margin-left: 6.25rem !important; }
.xl\:ml-26 { margin-left: 6.5rem !important; }
.xl\:ml-27 { margin-left: 6.75rem !important; }
.xl\:ml-28 { margin-left: 7rem !important; }
.xl\:ml-29 { margin-left: 7.25rem !important; }
.xl\:ml-30 { margin-left: 7.5rem !important; }
.xl\:ml-31 { margin-left: 7.75rem !important; }
.xl\:ml-32 { margin-left: 8rem !important; }
.xl\:ml-33 { margin-left: 8.25rem !important; }
.xl\:ml-34 { margin-left: 8.5rem !important; }
.xl\:ml-35 { margin-left: 8.75rem !important; }
.xl\:ml-36 { margin-left: 9rem !important; }
.xl\:ml-37 { margin-left: 9.25rem !important; }
.xl\:ml-38 { margin-left: 9.5rem !important; }
.xl\:ml-39 { margin-left: 9.75rem !important; }
.xl\:ml-40 { margin-left: 10rem !important; }
.xl\:ml-1\/20 { margin-left: 5% !important; }
.xl\:ml-1\/8 { margin-left: 12.5% !important; }
.xl\:ml-1\/4 { margin-left: 25% !important; }
.xl\:ml-auto { margin-left: auto !important; }

.xl\:mr-0 { margin-right: 0 !important; }
.xl\:mr-1 { margin-right: 0.25rem !important; }
.xl\:mr-2 { margin-right: 0.5rem !important; }
.xl\:mr-3 { margin-right: 0.75rem !important; }
.xl\:mr-4 { margin-right: 1rem !important; }
.xl\:mr-5 { margin-right: 1.25rem !important; }
.xl\:mr-6 { margin-right: 1.5rem !important; }
.xl\:mr-7 { margin-right: 1.75rem !important; }
.xl\:mr-8 { margin-right: 2rem !important; }
.xl\:mr-9 { margin-right: 2.25rem !important; }
.xl\:mr-10 { margin-right: 2.5rem !important; }
.xl\:mr-11 { margin-right: 2.75rem !important; }
.xl\:mr-12 { margin-right: 3rem !important; }
.xl\:mr-13 { margin-right: 3.25rem !important; }
.xl\:mr-14 { margin-right: 3.5rem !important; }
.xl\:mr-15 { margin-right: 3.75rem !important; }
.xl\:mr-16 { margin-right: 4rem !important; }
.xl\:mr-17 { margin-right: 4.25rem !important; }
.xl\:mr-18 { margin-right: 4.5rem !important; }
.xl\:mr-19 { margin-right: 4.75rem !important; }
.xl\:mr-20 { margin-right: 5rem !important; }
.xl\:mr-21 { margin-right: 5.25rem !important; }
.xl\:mr-22 { margin-right: 5.5rem !important; }
.xl\:mr-23 { margin-right: 5.75rem !important; }
.xl\:mr-24 { margin-right: 6rem !important; }
.xl\:mr-25 { margin-right: 6.25rem !important; }
.xl\:mr-26 { margin-right: 6.5rem !important; }
.xl\:mr-27 { margin-right: 6.75rem !important; }
.xl\:mr-28 { margin-right: 7rem !important; }
.xl\:mr-29 { margin-right: 7.25rem !important; }
.xl\:mr-30 { margin-right: 7.5rem !important; }
.xl\:mr-31 { margin-right: 7.75rem !important; }
.xl\:mr-32 { margin-right: 8rem !important; }
.xl\:mr-33 { margin-right: 8.25rem !important; }
.xl\:mr-34 { margin-right: 8.5rem !important; }
.xl\:mr-35 { margin-right: 8.75rem !important; }
.xl\:mr-36 { margin-right: 9rem !important; }
.xl\:mr-37 { margin-right: 9.25rem !important; }
.xl\:mr-38 { margin-right: 9.5rem !important; }
.xl\:mr-39 { margin-right: 9.75rem !important; }
.xl\:mr-40 { margin-right: 10rem !important; }
.xl\:mr-1\/20 { margin-right: 5% !important; }
.xl\:mr-1\/8 { margin-right: 12.5% !important; }
.xl\:mr-1\/4 { margin-right: 25% !important; }
.xl\:mr-auto { margin-right: auto !important; }

/* ================================================================
	21.4	Padding
================================================================ */

.xl\:p-0 { padding: 0 !important; }
.xl\:p-1 { padding: 0.25rem !important; }
.xl\:p-2 { padding: 0.5rem !important; }
.xl\:p-3 { padding: 0.75rem !important; }
.xl\:p-4 { padding: 1rem !important; }
.xl\:p-5 { padding: 1.25rem !important; }
.xl\:p-6 { padding: 1.5rem !important; }
.xl\:p-7 { padding: 1.75rem !important; }
.xl\:p-8 { padding: 2rem !important; }
.xl\:p-9 { padding: 2.25rem !important; }
.xl\:p-10 { padding: 2.5rem !important; }
.xl\:p-11 { padding: 2.75rem !important; }
.xl\:p-12 { padding: 3rem !important; }
.xl\:p-13 { padding: 3.25rem !important; }
.xl\:p-14 { padding: 3.5rem !important; }
.xl\:p-15 { padding: 3.75rem !important; }
.xl\:p-16 { padding: 4rem !important; }
.xl\:p-17 { padding: 4.25rem !important; }
.xl\:p-18 { padding: 4.5rem !important; }
.xl\:p-19 { padding: 4.75rem !important; }
.xl\:p-20 { padding: 5rem !important; }
.xl\:p-21 { padding: 5.25rem !important; }
.xl\:p-22 { padding: 5.5rem !important; }
.xl\:p-23 { padding: 5.75rem !important; }
.xl\:p-24 { padding: 6rem !important; }
.xl\:p-25 { padding: 6.25rem !important; }
.xl\:p-26 { padding: 6.5rem !important; }
.xl\:p-27 { padding: 6.75rem !important; }
.xl\:p-28 { padding: 7rem !important; }
.xl\:p-29 { padding: 7.25rem !important; }
.xl\:p-30 { padding: 7.5rem !important; }
.xl\:p-31 { padding: 7.75rem !important; }
.xl\:p-32 { padding: 8rem !important; }
.xl\:p-33 { padding: 8.25rem !important; }
.xl\:p-34 { padding: 8.5rem !important; }
.xl\:p-35 { padding: 8.75rem !important; }
.xl\:p-36 { padding: 9rem !important; }
.xl\:p-37 { padding: 9.25rem !important; }
.xl\:p-38 { padding: 9.5rem !important; }
.xl\:p-39 { padding: 9.75rem !important; }
.xl\:p-40 { padding: 10rem !important; }

.xl\:py-0 { padding-top: 0 !important; padding-bottom: 0 !important; }
.xl\:py-1 { padding-top: 0.25rem !important; padding-bottom: 0.25rem !important; }
.xl\:py-2 { padding-top: 0.5rem !important; padding-bottom: 0.5rem !important; }
.xl\:py-3 { padding-top: 0.75rem !important; padding-bottom: 0.75rem !important; }
.xl\:py-4 { padding-top: 1rem !important; padding-bottom: 1rem !important; }
.xl\:py-5 { padding-top: 1.25rem !important; padding-bottom: 1.25rem !important; }
.xl\:py-6 { padding-top: 1.5rem !important; padding-bottom: 1.5rem !important; }
.xl\:py-7 { padding-top: 1.75rem !important; padding-bottom: 1.75rem !important; }
.xl\:py-8 { padding-top: 2rem !important; padding-bottom: 2rem !important; }
.xl\:py-9 { padding-top: 2.25rem !important; padding-bottom: 2.25rem !important; }
.xl\:py-10 { padding-top: 2.5rem !important; padding-bottom: 2.5rem !important; }
.xl\:py-11 { padding-top: 2.75rem !important; padding-bottom: 2.75rem !important; }
.xl\:py-12 { padding-top: 3rem !important; padding-bottom: 3rem !important; }
.xl\:py-13 { padding-top: 3.25rem !important; padding-bottom: 3.25rem !important; }
.xl\:py-14 { padding-top: 3.5rem !important; padding-bottom: 3.5rem !important; }
.xl\:py-15 { padding-top: 3.75rem !important; padding-bottom: 3.75rem !important; }
.xl\:py-16 { padding-top: 4rem !important; padding-bottom: 4rem !important; }
.xl\:py-17 { padding-top: 4.25rem !important; padding-bottom: 4.25rem !important; }
.xl\:py-18 { padding-top: 4.5rem !important; padding-bottom: 4.5rem !important; }
.xl\:py-19 { padding-top: 4.75rem !important; padding-bottom: 4.75rem !important; }
.xl\:py-20 { padding-top: 5rem !important; padding-bottom: 5rem !important; }
.xl\:py-21 { padding-top: 5.25rem !important; padding-bottom: 5.25rem !important; }
.xl\:py-22 { padding-top: 5.5rem !important; padding-bottom: 5.5rem !important; }
.xl\:py-23 { padding-top: 5.75rem !important; padding-bottom: 5.75rem !important; }
.xl\:py-24 { padding-top: 6rem !important; padding-bottom: 6rem !important; }
.xl\:py-25 { padding-top: 6.25rem !important; padding-bottom: 6.25rem !important; }
.xl\:py-26 { padding-top: 6.5rem !important; padding-bottom: 6.5rem !important; }
.xl\:py-27 { padding-top: 6.75rem !important; padding-bottom: 6.75rem !important; }
.xl\:py-28 { padding-top: 7rem !important; padding-bottom: 7rem !important; }
.xl\:py-29 { padding-top: 7.25rem !important; padding-bottom: 7.25rem !important; }
.xl\:py-30 { padding-top: 7.5rem !important; padding-bottom: 7.5rem !important; }
.xl\:py-31 { padding-top: 7.75rem !important; padding-bottom: 7.75rem !important; }
.xl\:py-32 { padding-top: 8rem !important; padding-bottom: 8rem !important; }
.xl\:py-33 { padding-top: 8.25rem !important; padding-bottom: 8.25rem !important; }
.xl\:py-34 { padding-top: 8.5rem !important; padding-bottom: 8.5rem !important; }
.xl\:py-35 { padding-top: 8.75rem !important; padding-bottom: 8.75rem !important; }
.xl\:py-36 { padding-top: 9rem !important; padding-bottom: 9rem !important; }
.xl\:py-37 { padding-top: 9.25rem !important; padding-bottom: 9.25rem !important; }
.xl\:py-38 { padding-top: 9.5rem !important; padding-bottom: 9.5rem !important; }
.xl\:py-39 { padding-top: 9.75rem !important; padding-bottom: 9.75rem !important; }
.xl\:py-40 { padding-top: 10rem !important; padding-bottom: 10rem !important; }

.xl\:pt-0 { padding-top: 0 !important; }
.xl\:pt-1 { padding-top: 0.25rem !important; }
.xl\:pt-2 { padding-top: 0.5rem !important; }
.xl\:pt-3 { padding-top: 0.75rem !important; }
.xl\:pt-4 { padding-top: 1rem !important; }
.xl\:pt-5 { padding-top: 1.25rem !important; }
.xl\:pt-6 { padding-top: 1.5rem !important; }
.xl\:pt-7 { padding-top: 1.75rem !important; }
.xl\:pt-8 { padding-top: 2rem !important; }
.xl\:pt-9 { padding-top: 2.25rem !important; }
.xl\:pt-10 { padding-top: 2.5rem !important; }
.xl\:pt-11 { padding-top: 2.75rem !important; }
.xl\:pt-12 { padding-top: 3rem !important; }
.xl\:pt-13 { padding-top: 3.25rem !important; }
.xl\:pt-14 { padding-top: 3.5rem !important; }
.xl\:pt-15 { padding-top: 3.75rem !important; }
.xl\:pt-16 { padding-top: 4rem !important; }
.xl\:pt-17 { padding-top: 4.25rem !important; }
.xl\:pt-18 { padding-top: 4.5rem !important; }
.xl\:pt-19 { padding-top: 4.75rem !important; }
.xl\:pt-20 { padding-top: 5rem !important; }
.xl\:pt-21 { padding-top: 5.25rem !important; }
.xl\:pt-22 { padding-top: 5.5rem !important; }
.xl\:pt-23 { padding-top: 5.75rem !important; }
.xl\:pt-24 { padding-top: 6rem !important; }
.xl\:pt-25 { padding-top: 6.25rem !important; }
.xl\:pt-26 { padding-top: 6.5rem !important; }
.xl\:pt-27 { padding-top: 6.75rem !important; }
.xl\:pt-28 { padding-top: 7rem !important; }
.xl\:pt-29 { padding-top: 7.25rem !important; }
.xl\:pt-30 { padding-top: 7.5rem !important; }
.xl\:pt-31 { padding-top: 7.75rem !important; }
.xl\:pt-32 { padding-top: 8rem !important; }
.xl\:pt-33 { padding-top: 8.25rem !important; }
.xl\:pt-34 { padding-top: 8.5rem !important; }
.xl\:pt-35 { padding-top: 8.75rem !important; }
.xl\:pt-36 { padding-top: 9rem !important; }
.xl\:pt-37 { padding-top: 9.25rem !important; }
.xl\:pt-38 { padding-top: 9.5rem !important; }
.xl\:pt-39 { padding-top: 9.75rem !important; }
.xl\:pt-40 { padding-top: 10rem !important; }
.xl\:pt-1\/20 { padding-top: 5% !important; }
.xl\:pt-1\/8 { padding-top: 12.5% !important; }
.xl\:pt-1\/4 { padding-top: 25% !important; }

.xl\:pb-0 { padding-bottom: 0 !important; }
.xl\:pb-1 { padding-bottom: 0.25rem !important; }
.xl\:pb-2 { padding-bottom: 0.5rem !important; }
.xl\:pb-3 { padding-bottom: 0.75rem !important; }
.xl\:pb-4 { padding-bottom: 1rem !important; }
.xl\:pb-5 { padding-bottom: 1.25rem !important; }
.xl\:pb-6 { padding-bottom: 1.5rem !important; }
.xl\:pb-7 { padding-bottom: 1.75rem !important; }
.xl\:pb-8 { padding-bottom: 2rem !important; }
.xl\:pb-9 { padding-bottom: 2.25rem !important; }
.xl\:pb-10 { padding-bottom: 2.5rem !important; }
.xl\:pb-11 { padding-bottom: 2.75rem !important; }
.xl\:pb-12 { padding-bottom: 3rem !important; }
.xl\:pb-13 { padding-bottom: 3.25rem !important; }
.xl\:pb-14 { padding-bottom: 3.5rem !important; }
.xl\:pb-15 { padding-bottom: 3.75rem !important; }
.xl\:pb-16 { padding-bottom: 4rem !important; }
.xl\:pb-17 { padding-bottom: 4.25rem !important; }
.xl\:pb-18 { padding-bottom: 4.5rem !important; }
.xl\:pb-19 { padding-bottom: 4.75rem !important; }
.xl\:pb-20 { padding-bottom: 5rem !important; }
.xl\:pb-21 { padding-bottom: 5.25rem !important; }
.xl\:pb-22 { padding-bottom: 5.5rem !important; }
.xl\:pb-23 { padding-bottom: 5.75rem !important; }
.xl\:pb-24 { padding-bottom: 6rem !important; }
.xl\:pb-25 { padding-bottom: 6.25rem !important; }
.xl\:pb-26 { padding-bottom: 6.5rem !important; }
.xl\:pb-27 { padding-bottom: 6.75rem !important; }
.xl\:pb-28 { padding-bottom: 7rem !important; }
.xl\:pb-29 { padding-bottom: 7.25rem !important; }
.xl\:pb-30 { padding-bottom: 7.5rem !important; }
.xl\:pb-31 { padding-bottom: 7.75rem !important; }
.xl\:pb-32 { padding-bottom: 8rem !important; }
.xl\:pb-33 { padding-bottom: 8.25rem !important; }
.xl\:pb-34 { padding-bottom: 8.5rem !important; }
.xl\:pb-35 { padding-bottom: 8.75rem !important; }
.xl\:pb-36 { padding-bottom: 9rem !important; }
.xl\:pb-37 { padding-bottom: 9.25rem !important; }
.xl\:pb-38 { padding-bottom: 9.5rem !important; }
.xl\:pb-39 { padding-bottom: 9.75rem !important; }
.xl\:pb-40 { padding-bottom: 10rem !important; }
.xl\:pb-1\/20 { padding-bottom: 5% !important; }
.xl\:pb-1\/8 { padding-bottom: 12.5% !important; }
.xl\:pb-1\/4 { padding-bottom: 25% !important; }

.xl\:px-0 { padding-left: 0 !important; padding-right: 0 !important; }
.xl\:px-1 { padding-left: 0.25rem !important; padding-right: 0.25rem !important; }
.xl\:px-2 { padding-left: 0.5rem !important; padding-right: 0.5rem !important; }
.xl\:px-3 { padding-left: 0.75rem !important; padding-right: 0.75rem !important; }
.xl\:px-4 { padding-left: 1rem !important; padding-right: 1rem !important; }
.xl\:px-5 { padding-left: 1.25rem !important; padding-right: 1.25rem !important; }
.xl\:px-6 { padding-left: 1.5rem !important; padding-right: 1.5rem !important; }
.xl\:px-7 { padding-left: 1.75rem !important; padding-right: 1.75rem !important; }
.xl\:px-8 { padding-left: 2rem !important; padding-right: 2rem !important; }
.xl\:px-9 { padding-left: 2.25rem !important; padding-right: 2.25rem !important; }
.xl\:px-10 { padding-left: 2.5rem !important; padding-right: 2.5rem !important; }
.xl\:px-11 { padding-left: 2.75rem !important; padding-right: 2.75rem !important; }
.xl\:px-12 { padding-left: 3rem !important; padding-right: 3rem !important; }
.xl\:px-13 { padding-left: 3.25rem !important; padding-right: 3.25rem !important; }
.xl\:px-14 { padding-left: 3.5rem !important; padding-right: 3.5rem !important; }
.xl\:px-15 { padding-left: 3.75rem !important; padding-right: 3.75rem !important; }
.xl\:px-16 { padding-left: 4rem !important; padding-right: 4rem !important; }
.xl\:px-17 { padding-left: 4.25rem !important; padding-right: 4.25rem !important; }
.xl\:px-18 { padding-left: 4.5rem !important; padding-right: 4.5rem !important; }
.xl\:px-19 { padding-left: 4.75rem !important; padding-right: 4.75rem !important; }
.xl\:px-20 { padding-left: 5rem !important; padding-right: 5rem !important; }
.xl\:px-21 { padding-left: 5.25rem !important; padding-right: 5.25rem !important; }
.xl\:px-22 { padding-left: 5.5rem !important; padding-right: 5.5rem !important; }
.xl\:px-23 { padding-left: 5.75rem !important; padding-right: 5.75rem !important; }
.xl\:px-24 { padding-left: 6rem !important; padding-right: 6rem !important; }
.xl\:px-25 { padding-left: 6.25rem !important; padding-right: 6.25rem !important; }
.xl\:px-26 { padding-left: 6.5rem !important; padding-right: 6.5rem !important; }
.xl\:px-27 { padding-left: 6.75rem !important; padding-right: 6.75rem !important; }
.xl\:px-28 { padding-left: 7rem !important; padding-right: 7rem !important; }
.xl\:px-29 { padding-left: 7.25rem !important; padding-right: 7.25rem !important; }
.xl\:px-30 { padding-left: 7.5rem !important; padding-right: 7.5rem !important; }
.xl\:px-31 { padding-left: 7.75rem !important; padding-right: 7.75rem !important; }
.xl\:px-32 { padding-left: 8rem !important; padding-right: 8rem !important; }
.xl\:px-33 { padding-left: 8.25rem !important; padding-right: 8.25rem !important; }
.xl\:px-34 { padding-left: 8.5rem !important; padding-right: 8.5rem !important; }
.xl\:px-35 { padding-left: 8.75rem !important; padding-right: 8.75rem !important; }
.xl\:px-36 { padding-left: 9rem !important; padding-right: 9rem !important; }
.xl\:px-37 { padding-left: 9.25rem !important; padding-right: 9.25rem !important; }
.xl\:px-38 { padding-left: 9.5rem !important; padding-right: 9.5rem !important; }
.xl\:px-39 { padding-left: 9.75rem !important; padding-right: 9.75rem !important; }
.xl\:px-40 { padding-left: 10rem !important; padding-right: 10rem !important; }

.xl\:pl-0 { padding-left: 0 !important; }
.xl\:pl-1 { padding-left: 0.25rem !important; }
.xl\:pl-2 { padding-left: 0.5rem !important; }
.xl\:pl-3 { padding-left: 0.75rem !important; }
.xl\:pl-4 { padding-left: 1rem !important; }
.xl\:pl-5 { padding-left: 1.25rem !important; }
.xl\:pl-6 { padding-left: 1.5rem !important; }
.xl\:pl-7 { padding-left: 1.75rem !important; }
.xl\:pl-8 { padding-left: 2rem !important; }
.xl\:pl-9 { padding-left: 2.25rem !important; }
.xl\:pl-10 { padding-left: 2.5rem !important; }
.xl\:pl-11 { padding-left: 2.75rem !important; }
.xl\:pl-12 { padding-left: 3rem !important; }
.xl\:pl-13 { padding-left: 3.25rem !important; }
.xl\:pl-14 { padding-left: 3.5rem !important; }
.xl\:pl-15 { padding-left: 3.75rem !important; }
.xl\:pl-16 { padding-left: 4rem !important; }
.xl\:pl-17 { padding-left: 4.25rem !important; }
.xl\:pl-18 { padding-left: 4.5rem !important; }
.xl\:pl-19 { padding-left: 4.75rem !important; }
.xl\:pl-20 { padding-left: 5rem !important; }
.xl\:pl-21 { padding-left: 5.25rem !important; }
.xl\:pl-22 { padding-left: 5.5rem !important; }
.xl\:pl-23 { padding-left: 5.75rem !important; }
.xl\:pl-24 { padding-left: 6rem !important; }
.xl\:pl-25 { padding-left: 6.25rem !important; }
.xl\:pl-26 { padding-left: 6.5rem !important; }
.xl\:pl-27 { padding-left: 6.75rem !important; }
.xl\:pl-28 { padding-left: 7rem !important; }
.xl\:pl-29 { padding-left: 7.25rem !important; }
.xl\:pl-30 { padding-left: 7.5rem !important; }
.xl\:pl-31 { padding-left: 7.75rem !important; }
.xl\:pl-32 { padding-left: 8rem !important; }
.xl\:pl-33 { padding-left: 8.25rem !important; }
.xl\:pl-34 { padding-left: 8.5rem !important; }
.xl\:pl-35 { padding-left: 8.75rem !important; }
.xl\:pl-36 { padding-left: 9rem !important; }
.xl\:pl-37 { padding-left: 9.25rem !important; }
.xl\:pl-38 { padding-left: 9.5rem !important; }
.xl\:pl-39 { padding-left: 9.75rem !important; }
.xl\:pl-40 { padding-left: 10rem !important; }
.xl\:pl-1\/20 { padding-left: 5% !important; }
.xl\:pl-1\/8 { padding-left: 12.5% !important; }
.xl\:pl-1\/4 { padding-left: 25% !important; }

.xl\:pr-0 { padding-right: 0 !important; }
.xl\:pr-1 { padding-right: 0.25rem !important; }
.xl\:pr-2 { padding-right: 0.5rem !important; }
.xl\:pr-3 { padding-right: 0.75rem !important; }
.xl\:pr-4 { padding-right: 1rem !important; }
.xl\:pr-5 { padding-right: 1.25rem !important; }
.xl\:pr-6 { padding-right: 1.5rem !important; }
.xl\:pr-7 { padding-right: 1.75rem !important; }
.xl\:pr-8 { padding-right: 2rem !important; }
.xl\:pr-9 { padding-right: 2.25rem !important; }
.xl\:pr-10 { padding-right: 2.5rem !important; }
.xl\:pr-11 { padding-right: 2.75rem !important; }
.xl\:pr-12 { padding-right: 3rem !important; }
.xl\:pr-13 { padding-right: 3.25rem !important; }
.xl\:pr-14 { padding-right: 3.5rem !important; }
.xl\:pr-15 { padding-right: 3.75rem !important; }
.xl\:pr-16 { padding-right: 4rem !important; }
.xl\:pr-17 { padding-right: 4.25rem !important; }
.xl\:pr-18 { padding-right: 4.5rem !important; }
.xl\:pr-19 { padding-right: 4.75rem !important; }
.xl\:pr-20 { padding-right: 5rem !important; }
.xl\:pr-21 { padding-right: 5.25rem !important; }
.xl\:pr-22 { padding-right: 5.5rem !important; }
.xl\:pr-23 { padding-right: 5.75rem !important; }
.xl\:pr-24 { padding-right: 6rem !important; }
.xl\:pr-25 { padding-right: 6.25rem !important; }
.xl\:pr-26 { padding-right: 6.5rem !important; }
.xl\:pr-27 { padding-right: 6.75rem !important; }
.xl\:pr-28 { padding-right: 7rem !important; }
.xl\:pr-29 { padding-right: 7.25rem !important; }
.xl\:pr-30 { padding-right: 7.5rem !important; }
.xl\:pr-31 { padding-right: 7.75rem !important; }
.xl\:pr-32 { padding-right: 8rem !important; }
.xl\:pr-33 { padding-right: 8.25rem !important; }
.xl\:pr-34 { padding-right: 8.5rem !important; }
.xl\:pr-35 { padding-right: 8.75rem !important; }
.xl\:pr-36 { padding-right: 9rem !important; }
.xl\:pr-37 { padding-right: 9.25rem !important; }
.xl\:pr-38 { padding-right: 9.5rem !important; }
.xl\:pr-39 { padding-right: 9.75rem !important; }
.xl\:pr-40 { padding-right: 10rem !important; }
.xl\:pr-1\/20 { padding-right: 5% !important; }
.xl\:pr-1\/8 { padding-right: 12.5% !important; }
.xl\:pr-1\/4 { padding-right: 25% !important; }