<!DOCTYPE html>
<html id="splendid" lang="en-US" class="no-js">
	{% include head.html %}
	<body id="book-review" data-book="{{ page.book.title }}"{% if page.featured_image.src != '' %} class="has-featured-image"{% endif %}>
		<script type="application/ld+json" class="splendid-schema-graph">
			{
				"@context": "https://schema.org/",
				"@graph": [
					{
						"@type": "WebSite",
						"@id": "{{ site.url }}#website",
						"url": "{{ site.url }}",
						"name": "{{ site.meta.title }}",
						"description": "{{ site.meta.description }}",
						"publisher": {
							"@id": "{{ site.url }}#/schema/person/3fbbe8e23fcabc3da5c9cbc102d346c9"
						},
						"inLanguage": "en-US"
					},
					{
						"@type": "Book",
						{% if page.book.isbn %}
							"isbn": "{{ page.book.isbn }}",
						{% endif %}
						"name": "{{ page.book.title }}",
						{% if page.book.pages %}
							"numberOfPages": "{{ page.book.pages }}",
						{% endif %}
						"author": "{{ page.book.author }}",
						"image": "{{ site.url }}/assets/img/books/{{ page.featured_image.src }}",
						{% if page.book.publisher %}
							"publisher": {
								"@type": "Organization",
								"name": "{{ page.book.publisher }}"
							},
						{% endif %}
						"inLanguage": "English",
						"review": {
							"@type": "Review",
							"author": {
								"@type": "Person",
								"name": "Brandon Caples"
							},
							"name": "{{ page.title }}",
							"datePublished": "{{ page.date | date: "%Y-%m-%d" }}",
							"description": "{{ page.description }}",
							"reviewBody": "{{ content | strip_html }}",
							"url": "{{ page.url }}"
						}
					},
					{
						"@type": [
							"Person",
							"Organization"
						],
						"@id": "{{ site.url }}#/schema/person/3fbbe8e23fcabc3da5c9cbc102d346c9",
						"name": "{{ site.meta.title }}",
						"image": {
							"@type": "ImageObject",
							"inLanguage": "en-US",
							"@id": "{{ site.url }}#/schema/person/image/",
							"url": "{{ site.url }}/assets/img/brandon_caples.jpg",
							"contentUrl": "{{ site.url }}/assets/img/brandon_caples.jpg",
							"width": 600,
							"height": 600,
							"caption": "{{ site.meta.title }}"
						},
						"logo": {
							"@id": "{{ site.url }}#/schema/person/image/"
						},
						"description": "I live in Ooltewah, Tennessee with my wife, our son, and our goldendoodle.",
						"sameAs": [
							"bcaples",
							"brandoncaples",
							"https://twitter.com/caplesweb"
						]
					}
				]
			}
		</script>
		{% include header.html %}
		<div class="card w-full px-7 bg-blue">
			<header class="md:splendid-flex relative w-full max-w-4 mx-auto p-7 sm:px-14 md:px-0 md:pt-20 md:pb-24 lg:py-12 lg:px-0 flex-row justify-between items-start text-white">
				<div class="md:mr-12 grow-1">
					<div class="label mb-4 font-bold text-xs uppercase opacity-50">Book Review</div>
					<h1 class="mb-6 mx-auto p-0 sm:text-xl md:text-2xl lg:text-3xl font-bold italic">{{ page.book.title }}</h1>
					<div class="meta lg:splendid-flex mb-0 mx-auto p-0 flex-row justify-start flex-wrap">
						<div class="author text-sm">by {{ page.book.author }}</div>
						<div class="published text-sm">{{ page.book.publisher }}</div>
					</div>
				</div>
				{% if page.featured_image.src != '' %}
					<img class="h-full max-h-1 mt-6 grow-0 rounded shadow" src="{{ site.url }}/assets/img/books/{{ page.featured_image.src }}" alt="{{ page.featured_image.alt }}">
				{% endif %}
			</header>
		</div>
		<main class="pb-16 px-7 md:px-10">

			<!-- Book Review : BEGIN -->
			<article class="max-w-text">
				{% if page.date or page.tags %}
					<div class="relative max-w-4 mb-16 -ml-7 md:ml-auto -mr-7 md:mr-auto py-10 px-7 md:px-12 border-b-1 border-b-solid border-sand">
					{% if page.date %}
						<time datetime="{{ page.date | date: '%Y-%m-%dT%H:%M:%S-04:00' }}" class="block w-full m-0 lg:mx-auto pt-4 text-sm normal">{{ page.date | date: "%B %d, %Y" }}</time>
					{% endif %}
					{% if page.tags %}
						{% include tags.html %}
					{% endif %}
					</div>
				{% endif %}
				{{ content }}
			</article>
			<!-- Book Review : END -->

		</main>
		{% include footer.html %}
	</body>
</html>