<!DOCTYPE html>
<html id="splendid" lang="en-US">
	{% include head.html %}
	<body id="home">
		{% if site.scripts.gtm %}
			<!-- Google Tag Manager (noscript) -->
			<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.scripts.gtm }}"
			height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
			<!-- End Google Tag Manager (noscript) -->
		{% endif %}
		{% include header.html %}
		{% include slider.html %}

		<!-- Cards Gallery : START -->
		<section class="posts-section pb-20 md:pb-0">
			<header class="pt-20 pb-8 px-7 xl:px-0">
				<h2>MarTech Blog</h2>
				<p>Pour over the latest trends, tips, and tutorials in marketing technology to help you stay ahead in the fast-paced digital landscape. Whether you're looking to enhance your skills or keep up with industry developments, you'll find valuable insights and resources here.</p>
			</header>
			<div class="cards-gallery mt-0">

				{% for post in site.categories["MarTech"] limit:8 %}
				<article itemscope itemtype="https://schema.org/BlogPosting" title="{{ post.title }}" class="card relative rounded bg-red shadow">
					<a href="{{ post.url }}">
						<div>
							<div class="absolute inset-0 w-full h-full z-0">
								<img class="w-full h-full object-cover rounded" src="{{ site.url }}/assets/img/{{ post.category | downcase }}/{{ post.featured_image.src }}" alt="{{ post.featured_image.alt }}">
							</div>
						</div>
						<div class="info absolute w-full h-full top-0 p-0 splendid-flex flex-col justify-end items-end flex-nowrap rounded">
							<h3 itemprop="name" class="title w-90 mb-6 mx-auto p-0 text-lg normal">{{ post.title | truncate: 50 }}</h3>
							<div class="splendid-flex w-90 mb-3 mx-auto p-0 flex-row justify-between flex-nowrap">
								<time itemprop="datePublished" datetime="{{ post.date | date: '%Y-%m-%dT%H:%M:%S-05:00' }}" class="p-0 text-xs normal">{{ post.date | date: "%b %d, %Y" }}</time>
							</div>
						</div>
					</a>
				</article>
				{% endfor %}

				<div class="more h-100 bg-green rounded" style="box-shadow:none;">
					<a href="/martech/">
						<div class="splendid-flex h-100 p-4 flex-col justify-center overflow-hidden rounded">
							<div class="placeholder relative w-full bg-transparent text-xl text-center rounded">
								<h4 class="mb-0 text-xl normal text-white">More blog posts</h4>
							</div>
						</div>
					</a>
				</div>
			</div>
		</section>
		<!-- Cards Gallery : END -->

		<!-- CTA Section : BEGIN -->
		<section class="cta-section bg-sand">
			<div class="splendid-flex pt-20 px-6 xl:px-0 pb-20 flex-row justify-between items-center">
				<div class="w-50 lg:w-60">
					<h4 class="text-2xl">Brandon Caples</h4>
					<p class="m-0">I'm a digital marketer, a web designer, and an email developer. Marketing technology is my passion.</p>
					<a href="/about/" class="splendid-cta sm:mb-8">Learn more</a>
				</div>
				<picture class="block w-45 md:w-40 md:mx-12 xl:mx-0">
					<source type="image/webp" srcset="https://res.cloudinary.com/caples/image/upload/c_fill,w_150,h_300,g_auto/v1727285033/brandon_caples_1200x630_c9mttt.webp" media="(max-width: 599px)">
					<source srcset="https://res.cloudinary.com/caples/image/upload/c_fill,w_150,h_300,g_auto/v1727285033/brandon_caples_1200x630_c9mttt.jpg" media="(max-width: 599px)">
					<source type="image/webp" srcset="https://res.cloudinary.com/caples/image/upload/c_fill,w_200,h_300,g_auto/v1727285033/brandon_caples_1200x630_c9mttt.webp" media="(max-width: 799px)">
					<source srcset="https://res.cloudinary.com/caples/image/upload/c_fill,w_200,h_300,g_auto/v1727285033/brandon_caples_1200x630_c9mttt.jpg" media="(max-width: 799px)">
					<source type="image/webp" srcset="https://res.cloudinary.com/caples/image/upload/c_fill,w_400,h_300,g_auto/v1727285033/brandon_caples_1200x630_c9mttt.webp" >
					<img src="https://res.cloudinary.com/caples/image/upload/c_fill,w_400,h_300,g_auto/v1727285033/brandon_caples_1200x630_c9mttt.jpg" class="tl-rounded tr-round bl-round br-rounded shadow" alt="Brandon Caples, digital marketer, web developer, email production technologist, email marketing developer" />
				</picture>
			</div>
		</section>
		<!-- CTA Section : END -->

		<!-- Carousel Section : BEGIN -->
		<section class="carousel-section pt-12 bg-blue">
			<header class="mx-8 md:mx-20 pb-0 text-white">
				<h2>Book Reviews</h2>
			</header>
			<div class="carousel splendid-flex relative">
				<div class="pt-4 scroll-style">
					{% assign book_reviews = site.book_reviews | sort: "date" | reverse %}
					{% for post in book_reviews limit:12 %}
					<article itemscope itemtype="https://schema.org/Book" class="splendid-flex flex-col justify-between">
						<div class="overflow-hidden rounded shadow" data-item="book-cover">
							<a href="{{ post.url }}">
								{% if post.featured_image.src != '' %}
									<img class="rounded shadow" src="{{ site.url }}/assets/img/books/{{ post.featured_image.src }}" title="{{ post.book.title }}" alt="{{ post.featured_image.alt }}">
								{% else %}
									<div class="placeholder relative w-full h-0 bg-sand rounded shadow" data-content="&ldquo;{{ post.book.title }}&rdquo; by {{ post.book.author }}"></div>
								{% endif %}
							</a>
						</div>
						<div class="info splendid-flex p-0 flex-col justify-end items-start flex-nowrap rounded" data-item="book-title">
							<a href="{{ post.url }}" title="{{ post.title }}">
								<h4 itemprop="name" class="title w-90 mt-3 mb-1 mx-auto p-0 text-base normal text-white">{{ post.title | truncate: 50 }}</h4>
							</a>
							<div class="splendid-flex mb-2 p-0 flex-row justify-between flex-nowrap text-white">
								<time itemprop="datePublished" datetime="{{ post.date | date: '%Y-%m-%dT%H:%M:%S-05:00' }}" class="p-0 text-xs normal">{{ post.date | date: "%b %d, %Y" }}</time>
							</div>
						</div>
					</article>
					{% endfor %}
					<div class="more">
						<a href="/book-reviews/2/">
							<div class="splendid-flex h-100 p-4 flex-col justify-center bg-glass overflow-hidden rounded shadow">
								<div class="placeholder relative w-full bg-transparent text-xl text-center rounded">
									<h4 class="mb-0 text-xl normal text-white">More book reviews</h4>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</section>
		<!-- Carousel Section : END -->

		{% include footer.html %}
	</body>
</html>