<!DOCTYPE html>
<html id="splendid" lang="en-US">
	{% include head.html %}
	<link rel="stylesheet" type="text/css" href="/assets/styles/pages/portfolio.css" media="all">
	<body id="portfolio"{% if page.category %} class="portfolio-{{ page.category | downcase }}" data-category="{{ page.category }}"{% endif %}>
		{% if site.scripts.gtm %}
			<!-- Google Tag Manager (noscript) -->
			<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.scripts.gtm }}"
			height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
			<!-- End Google Tag Manager (noscript) -->
		{% endif %}
		{% include header.html %}
		<div class="px-7 md:px-10">
			<h1 class="relative max-w-4 mx-auto pt-20 text-3xl lg:text-4xl{% if page.url != '/portfolio/' %} text-white{% endif %} font-bold">{{ page.title }}</h1>
		</div>
		{% if page.url != '/portfolio/' %}
			<nav id="breadcrumb" class="px-7 md:px-10" aria-label="breadcrumb">
				<ol class="splendid-flex relative flex-row max-w-4 mb-0 lg:mx-auto" itemscope itemtype="https://schema.org/BreadcrumbList">
					<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
						<a class="text-xs md:text-sm text-white" itemprop="item" href="/portfolio/">
							<span itemprop="name">Portfolio</span>
						</a>
						<meta itemprop="position" content="1" />
					</li>
					<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
						<span class="text-xs md:text-sm text-white" itemprop="item" class="font-bold">
							<span itemprop="name" class="font-bold">{% if page.category == 'email' %}Emails{% else %}Web Projects{% endif %}</span>
						</span>
						<meta itemprop="position" content="2" />
					</li>
				</ol>
			</nav>
		{% endif %}
		{{ content }}
		{% include footer.html %}
	</body>
</html>