<!DOCTYPE html>
<html id="splendid" lang="en-US">
	{% include head.html %}
	<body id="post"{% if page.featured_image.src != '' %} class="has-featured-image"{% endif %}>
		{% if site.scripts.gtm %}
			<!-- Google Tag Manager (noscript) -->
			<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.scripts.gtm }}"
			height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
			<!-- End Google Tag Manager (noscript) -->
		{% endif %}
		<script type="application/ld+json" class="splendid-schema-graph">
			{
				"@context": "https://schema.org/",
				"@graph": [
					{
						"@type": "WebSite",
						"@id": "{{ site.url }}#website",
						"url": "{{ site.url }}",
						"name": "{{ site.meta.title }}",
						"description": "{{ site.meta.description }}",
						"publisher": {
							"@id": "{{ site.url }}#/schema/person/3fbbe8e23fcabc3da5c9cbc102d346c9"
						},
						"inLanguage": "en-US"
					},
					{% if page.featured_image.src %}
					{
						"@type": "ImageObject",
						"inLanguage": "en-US",
						"@id": "{{ page.url }}#primaryimage",
						"url": "{{ page.featured_image.src }}",
						"contentUrl": "{{ page.featured_image.src }}",
						"caption": "{{ page.featured_image.alt }}"
					},
					{% endif %}
					{
						"@type": [
							"Article",
							"BlogPosting"
						],
						"@id": "{{ page.url }}#article",
						"isPartOf": {
							"@id": "{{ page.url }}#webpage"
						},
						"author": {
							"@id": "{{ site.url }}#/schema/person/3fbbe8e23fcabc3da5c9cbc102d346c9"
						},
						"headline": "{{ page.title }}",
						"datePublished": "{{ page.date | date: '%Y-%m-%dT%H:%M:%S-05:00' }}",
						"mainEntityOfPage": {
							"@id": "{{ page.url }}#webpage"
						},
						"publisher": {
							"@id": "{{ site.url }}#/schema/person/3fbbe8e23fcabc3da5c9cbc102d346c9"
						},
						"image": {
							"@id": "{{ page.url }}#primaryimage"
						},
						"thumbnailUrl": "{{ page.featured_image.src }}",
						"keywords": {{ page.tags }},
						"articleSection": [
							"{{ page.category }}"
						],
						"inLanguage": "en-US"
					},
					{
						"@type": [
							"Person",
							"Organization"
						],
						"@id": "{{ site.url }}#/schema/person/3fbbe8e23fcabc3da5c9cbc102d346c9",
						"name": "{{ site.meta.title }}",
						"image": {
							"@type": "ImageObject",
							"inLanguage": "en-US",
							"@id": "{{ site.url }}#/schema/person/image/",
							"url": "{{ site.url }}/assets/img/brandon_caples.webp",
							"contentUrl": "{{ site.url }}/assets/img/brandon_caples.webp",
							"width": 600,
							"height": 600,
							"caption": "{{ site.meta.title }}"
						},
						"logo": {
							"@id": "{{ site.url }}#/schema/person/image/"
						},
						"description": "I live in Ooltewah, Tennessee with my wife, our son, and our goldendoodle.",
						"sameAs": [
							"bcaples",
							"brandoncaples",
							"https://twitter.com/caplesweb"
						]
					}{% if page.howto %},
					{
						"@type": "HowTo",
						"@id": "{{ page.url }}#howto-1",
						"name": "{{ page.howto.title }}",
						"mainEntityOfPage": {
							"@id": "{{ page.url }}#article"
						},
						"description": "{{ page.howto.description }}",
						"totalTime": "{{ page.howto.time }}",
						"step": [
						{% for step in page.howto.steps %}
							{
								"@type": "HowToStep",
								"url": "{{ page.url }}#how-to-step-{{ forloop.index0 | plus: 1 }}",
								"name": "{{ step.name }}",
								"itemListElement": [
									{
										"@type": "HowToDirection",
										"text": "{{ step.text }}"
									}
								]
							},
						{% endfor %}
						],
						"inLanguage": "en-US"
					}{% endif %}
				]
			}
		</script>
		{% include header.html %}
		<main class="lg:pt-24 pb-16 px-7 md:px-10">
			<header class="relative w-full max-w-text py-7 mx-auto md:px-12 lg:px-20 text-black">
				<div class="grow-1">
					<div class="label mb-4 font-bold text-xs uppercase opacity-50">{{ page.category }}</div>
					<h1 class="mb-6 mx-auto p-0 sm:text-xl md:text-2xl lg:text-3xl font-bold">{{ page.title }}</h1>
				</div>
				{% if page.featured_image.src != '' %}
					<picture>
						<source type="image/webp" srcset="{{ site.url }}/assets/img/{{ page.category | downcase }}/{{ page.featured_image.src }}" >
						<img src="{{ site.url }}/assets/img/{{ page.category | downcase }}/{{ page.featured_image.fallback }}" class="w-full h-full object-cover object-{% unless page.featured_image.position %}center{% else %}{{ page.featured_image.position }}{% endunless %} rounded shadow" alt="{{ page.featured_image.alt }}" />
					</picture>
				{% endif %}
			</header>

			<!-- Blog Post : BEGIN -->
			<article itemscope itemtype="https://schema.org/BlogPosting" class="max-w-text">
				{% if page.date or page.tags or page.bible_books %}
				<div class="relative max-w-4 mx-auto mb-20 lg:pt-0 pb-10 md:px-12 border-b-1 border-b-solid border-sand">
					{% if page.date %}
						<time datetime="{{ page.date | date: '%Y-%m-%dT%H:%M:%S-04:00' }}" class="block pt-0 text-sm normal">{{ page.date | date: "%B %d, %Y" }}</time>
					{% endif %}
				</div>
				{% endif %}

				{% if page.howto %}
					<section class="schema-how-to max-w-4 mb-20 mx-auto py-4 px-6 text-sm bg-sand rounded">
						<p class="mt-0 text-xs">Time needed: <time datetime="{{ page.howto.time }}">{{ page.howto.time }}</time></p>
						<p>{{ page.howto.description }}</p>
						<ol class="schema-how-to-steps mb-0 pl-4">
							{% for step in page.howto.steps %}
								<li class="schema-how-to-step my-4" id="how-to-step-{{ forloop.index0 | plus: 1 }}">
									<strong class="schema-how-to-step-name">{{ step.name }}</strong>
									<p class="schema-how-to-step-text mb-0">{{ step.text }}</p>
								</li>
							{% endfor %}
						</ol>
					</section>
				{% endif %}

				{{ content }}
			</article>
			<!-- Blog Post : END -->

		</main>
		{% include footer.html %}
	</body>
</html>