<!DOCTYPE html>
<html id="splendid" lang="en-US" class="no-js">
	{% include head.html %}
	<body id="post"{% if page.featured_image.src != '' %} class="has-featured-image"{% endif %}>
		{% include header.html %}
		<main class="lg:pt-24 pb-16 px-7 md:px-10">

			<!-- Blog Post : BEGIN -->
			<article itemscope itemtype="https://schema.org/BlogPosting">
				<div class="card splendid-flex relative w-full justify-between bg-green lg:rounded shadow">
					<header class="md:w-half max-w-4 sm:px-12 md:py-20 md:px-20 lg:p-12 text-white">
						<div class="label mb-4 font-bold text-xs uppercase opacity-50">{{ page.category }}</div>
						<h1 itemprop="name" class="mb-6 mx-auto p-0 sm:text-xl md:text-2xl lg:text-3xl font-medium normal">{{ page.title }}</h1>
					</header>
					{% if page.featured_image.src != '' %}
						<picture class="absolute">
							<img class="w-full h-full object-cover rounded shadow" src="{{ site.url }}/assets/img/{{ page.featured_image.src }}" alt="{{ page.featured_image.alt }}">
						</picture>
					{% endif %}
				</div>
				{% if page.date %}
					<time datetime="{{ page.date | date: '%Y-%m-%dT%H:%M:%S-05:00' }}" class="block max-w-4 mx-auto pt-12 md:px-12 text-base normal">{{ page.date | date: "%B %d, %Y" }}</time>
				{% endif %}
				{% if page.tags or page.bible_books %}
					{% include tags.html %}
				{% endif %}
				{{ content }}
			</article>
			<!-- Blog Post : END -->

		</main>
		{% include footer.html %}
	</body>
</html>