<!DOCTYPE html>
<html id="splendid" lang="en-US">
{% include head.html %}
<body id="search">
	{% if site.scripts.gtm %}
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.scripts.gtm }}" height="0" width="0"
			style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
	{% endif %}
	{% include header.html %}
	<div class="px-7 md:px-10 bg-yellow">
		<div class="splendid-flex max-w-5 mx-auto pt-20 sm:px-0 md:pb-6 md:px-10 lg:px-16 flex-col md:flex-row justify-between items-center">
			<h1 class="relative mb-10 md:mb-0 md:mr-10 text-3xl lg:text-4xl font-bold">Search</h1>
			<form class="search splendid-flex mb-10 md:mb-0 flex-row" action="{{ site.baseurl }}/search/" method="get">
				<input id="search-box" class="input py-2 px-3" type="text" name="query">
				<button class="py-2 px-3" type="submit">
					{% include icon-search.html %}
				</button>
			</form>
		</div>
	</div>
	<main class="lg:pt-8 pb-16 px-7 md:px-10">
		{{ content }}
	</main>
	{% include footer.html %}
</body>
</html>